<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags seo(@seo) %>
  <link type="image/vnd.microsoft.icon" rel="shortcut icon" href="<%= current_site.the_icon %>">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
