<div class="page-title">
  <h2><span class="fa fa-comments"></span> <%= t('admin.comments.comments_list_post')%></h2>
</div>

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

  <div class="row">
    <div class="col-md-12">

      <!-- START BASIC TABLE SAMPLE -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('admin.page_title.list')%></h3>
        </div>
        <div class="panel-body">

          <table class="table">
            <thead>
            <tr>
              <th><%= t('admin.table.id')%></th>
              <th><%= t('admin.table.post')%></th>
              <th><%= t('admin.table.post_type')%></th>
              <th><%= t('admin.table.comments')%></th>
              <th><%= t('admin.table.actions')%></th>
            </tr>
            </thead>
            <tbody>
            <% @posts.to_a.uniq.each do |f| %>
                <%
                   post = f.decorate
                   post_type = f.post_type.decorate
                %>
                <tr>
                  <td><%= f.id %></td>
                  <td><a href="<%= post.the_url %>" target="_blank"><%= post.the_title %></a></td>
                  <td><a href="<%= post_type.the_url %>" target="_blank"><%= post_type.the_title %></a></td>
                  <td><%= f.comments.main.size %></td>
                  <td>
                    <%= link_to raw('<i class="fa fa-comments"></i>'), {action: :responses, post_id: f.id }, class: "btn btn-default btn-xs", title: "#{t('admin.table.comments')}" %>
                    <%= link_to raw('<i class="fa fa-times"></i>'), { action: :destroy_comments, post_id: f.id },
                                method: :delete, data: { confirm: t('admin.message.delete') }, class: "btn btn-danger btn-xs", title: "Delete" %>
                  </td>
                </tr>
            <% end %>

            </tbody>
          </table>
          <%= content_tag("div", raw(t('admin.message.data_found_list')), class: "alert alert-warning") if @posts.empty? %>
          <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
        </div>

      </div>
      <!-- END BASIC TABLE SAMPLE -->
    </div>
  </div>

</div>
