<% enabled_plugins = PluginRoutes.enabled_plugins(current_site) %>
<div class="panel panel-default">
    <div class="panel-body">

        <table class="table table-hover">
            <thead>
            <tr>
                <th><%= t('admin.table.title') %></th>
                <th><%= t('admin.table.description') %></th>
                <th><%= t('admin.table.version') %></th>
                <th><%= t('admin.table.status') %></th>
                <th><%= t('admin.table.actions') %></th>
            </tr>
            </thead>
            <tbody>
            <% plugins.each do |plugin| status = enabled_plugins.include?(plugin); r = {links: ["Version: #{plugin["version"]}"]}; %>
                <tr>
                    <td>
                        <b><%= plugin["title"] %></b>
                        <br>
                        <% r[:links] << (link_to("#{t('admin.sidebar.information')}", "http://camaleon.tuzitio.com/store/plugins/info/#{plugin["key"]}", target: "_blank",  title: "Plugin #{t('admin.sidebar.information')}")) %>
                        <% hook_run(plugin, "plugin_options", r) if status %>
                        <%= raw r[:links].join(" | ") %>
                    </td>
                    <td><%= plugin["descr"] %></td>
                    <td><%= plugin["version"] %></td>
                    <td><%= t("admin.plugins.status_#{status}") %></td>
                    <td>
                        <%= link_to raw("<i class='fa fa-#{status ? "check-square" : "square"}'></i>"), {action: :toggle, id: plugin["key"], status: status }, class: "btn btn-default btn-xs", title: "#{status ? t('admin.button.disable_plugin') : t('admin.button.activate_plugin') }" %>
                        <%= link_to("<i class='fa fa-arrow-circle-o-up'></i>".html_safe, admin_plugin_upgrade_path(plugin["key"]), class: "btn btn-info btn-xs", title: "#{t("admin.plugins.upgrade_to")} #{plugin["version"]}") if status && current_site.get_plugin(plugin["key"]).old_version? %>
                    </td>
                </tr>
            <% end %>

            </tbody>
        </table>
        <%= content_tag("div", raw(t('admin.message.data_found_list')), class: "alert alert-warning") if plugins.empty? %>
    </div>
</div>