<div class="page-content-wrap row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading ui-draggable-handle">
        <h4><%= t('admin.post_type.add_post_type') %> </h4>
      </div>
      <%= render partial: 'form' %>
    </div>

  </div>

   <div class="col-md-8">

      <!-- START BASIC TABLE SAMPLE -->
      <div class="panel panel-default">
        <div class="panel-heading ui-draggable-handle">
            <h4><span class="fa fa-folder"></span> <%= t('admin.post_type.post_types') %></h4>
        </div>
        <div class="panel-body">

          <table class="table">
            <thead>
            <tr>
              <th><%= t('admin.table.name') %></th>
              <th><%= t('admin.table.description') %></th>
              <th><%= t('admin.table.slug') %></th>
              <th><%= t('admin.table.qty') %></th>
              <th><%= t('admin.table.actions') %></th>
            </tr>
            </thead>

            <tbody>
            <%
               def _item_html(item, pos = 0)
                    %>
                    <tr>
                      <td><%= raw('—' * pos) %> <%= item.the_title %></td>
                      <td><%= item.the_content %></td>
                      <td><%= item.the_slug %></td>
                      <td><%= item.count %></td>
                      <td>
                        <%#= link_to raw('<i class="fa fa-list"></i>'), admin_post_type_taxonomy_posts_path(@post_type.id, "category", item.slug), class: "btn btn-default btn-xs", title: "#{params[:post_type].to_s.titleize.pluralize}-#{item.slug.to_s.titleize}" if @post_type.present? %>
                        <%= link_to raw('<i class="fa fa-pencil"></i>'), {action: :edit, id: item.id }, class: "btn btn-default btn-xs", title: "#{t('admin.button.edit')}" %>
                        <%= link_to raw('<i class="fa fa-times"></i>'), { action: :destroy, id: item.id },method: :delete, data: { confirm: t('admin.message.delete_item') }, class: "btn btn-danger btn-xs", title: "#{t('admin.button.delete')}" unless item.get_option('not_deleted', false) %>

                      </td>
                    </tr>
                    <%
               end
               def _render_items(categories, _level = 0)
                 categories.each do |term|
                   _item_html(term.decorate, _level)
                    children = term.term_children("post_type")
                   _render_items(children, _level + 1) if children.size > 0
                 end
               end
               _render_items(@post_types)
                %>
            </tbody>
          </table>
          <%= content_tag("div", raw(t('admin.message.data_found_list')), class: "alert alert-warning") if @post_types.empty? %>
            <%= raw do_pagination(@post_types) %>
        </div>
      </div>
      <!-- END BASIC TABLE SAMPLE -->
    </div>


  </div>

  <!-- END PAGE CONTENT WRAPPER -->
</div>
