<% @default_use = record.new_record?
   @field_name = (defined?(fields_name) ? fields_name : "field_options").to_sym
%>
<% field_groups.each do |group|  %>
    <% if defined?(skip_panel) || group.slug == "_default" %>
        <div class="panel panel-default panel-lite c-field-group" data-slug="<%= group.slug %>">
            <div class="panel-body ">
    <% else %>
        <div class="panel panel-default panel-lite c-field-group" data-slug="<%= group.slug %>">
            <div class="panel-heading">
                <h3 class="panel-title"><%= group.name %></h3>
                <ul class="panel-controls">
                    <li><a class="panel-collapse" href="#"><span class="fa fa-angle-down"></span></a></li>
                </ul>
            </div>
            <div class="panel-body ">
                <p><%= group.description %></p>
    <% end %>

    <% group.fields.eager_load(:metas).each do |field|
      @field = field.decorate
      @field = @field || {options:{}}
      @rand = "r#{Time.now.to_i}#{rand(99 ... 99999)}d"
      values = record.get_fields(@field.slug)
      values = params[@field_name][@field.slug.to_sym][:values] if values.blank? && params[@field_name].present?
      is_disabled = @field.options[:disabled].present? || @field.options[:readonly].present?
    %>
        <div class="item-custom-field c-field-<%= @field.options[:field_key] %>">
            <label for="input-<%= @rand %>">
                <%= @field.the_name %>
                <small class="hidden">(<%= @field.options[:field_key] %>)</small>
                <%= raw "<em class='text-danger'>*</em>" if @field.options[:required].to_s.to_bool %>
                <% if defined? show_shortcode %>
                    <small class="pull-right shortcode_field"><code>[data field='<%= @field.slug %>']</code></small>
                <% end %>
            </label><br>
            <% if @field.description.present? %>
                <p><small><%= @field.the_description %></small></p>
            <% end  %>
            <input name="<%= @field_name %>[<%= @field.slug %>][id]" type="hidden" value="<%= @field.id %>"/>
            <div id="content-field-<%= @rand %>" class="editor-custom-fields">
                <div class="clone-field hidden">
                    <div class="input-group-parent">
                        <% if @field.options[:multiple].to_s.to_bool && !is_disabled %>
                            <div class="actions">
                                <i class="fa fa-arrows"></i> <i class="fa fa-times text-danger"></i>
                            </div>
                        <% end %>
                        <%= render file: "admin/settings/custom_fields/fields/#{@field.options[:field_key]}" %>
                    </div>
                </div>

                <ul id="sortable-<%= @rand %>" >

                </ul>
                <% if @field.options[:multiple].to_s.to_bool && !is_disabled %>
                    <div class="field_multiple_btn">
                        <a class="btn btn-warning btn-sm btn-add-field" href="#"> <i class="fa fa-plus"></i> <%= t('admin.button.add_new_field')%></a>
                    </div>
                <% end %>
            </div>
            <script> jQuery(function(){ build_custom_field(<%= raw(values.to_json) %>, <%= @field.options[:multiple].to_s.to_bool  %>, '<%= @field.options[:field_key]  %>', '<%= @rand %>', '<%= @field.options[:default_value] if record.new_record? %>'); }); </script>
        </div>
    <% end %>
    </div>
    </div>
<% end %>