<div class="page-title">
  <h2><span class="fa fa-cog"></span> <%= t('admin.settings.list_custom_fields_group') %></h2>
</div>

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

  <div class="row">
    <div class="col-md-12">

      <!-- START BASIC TABLE SAMPLE -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('admin.page_title.list') %></h3>
          <%= link_to raw("<i class='fa fa-plus'></i> #{t('admin.settings.add_field_group')}"), {action: :new}, class: "btn btn-primary pull-right" %>
        </div>
        <div class="panel-body">

          <table id="table_custom_groups" class="table">
            <thead>
            <tr>
              <th><%= t('admin.table.id') %></th>
              <th><%= t('admin.table.slug') %></th>
              <th><%= t('admin.table.group_name') %></th>
              <th><%= t('admin.table.description') %></th>
              <th><%= t('admin.table.display_objects') %></th>
              <th><%= t('admin.table.actions') %></th>
            </tr>
            </thead>
            <tbody>
            <% @field_groups.each do |f| %>
                <tr data-id="<%= f.id %>">
                  <td><%= f.id %></td>
                  <td><%= f.slug %></td>
                  <td><%= f.name %></td>
                  <td><%= f.description %></td>
                  <td><%= raw f.get_caption %></td>
                  <td>
                    <%= link_to raw('<i class="fa fa-pencil"></i>'), {action: :edit, id: f.id }, class: "btn btn-default btn-xs", title: "#{t('admin.button.edit')}" %>
                    <%= link_to raw('<i class="fa fa-times"></i>'), { action: :destroy, id: f.id },
                                method: :delete, data: { confirm: t('admin.message.delete_item') }, class: "btn btn-danger btn-xs", title: "#{t('admin.button.delete')}" %>
                  </td>
                </tr>
            <% end %>

            </tbody>
          </table>
          <%= content_tag("div", raw(t('admin.message.data_found_list')), class: "alert alert-warning") if @field_groups.empty? %>
          <%= will_paginate @field_groups, renderer: BootstrapPagination::Rails  %>
        </div>
      </div>
      <!-- END BASIC TABLE SAMPLE -->
    </div>
  </div>

</div>

<script>
  run.push(function(){
      $('#table_custom_groups').table_order({url: '<%= admin_api_path('reorder', {model: 'field_groups'}) %>', on_success: function(obj){
          if(obj.res.error){
              $.fn.alert({title: obj.res.error, type: 'error'})
          }else{
              $.fn.alert({title: 'Order Successfully'})
          }

      }})
  })
</script>