<div class="col-sm-6 col-md-4 post-list-item">
    <div class="thumbnail">
        <%= raw post.the_link_thumb({}, {style: "height: 200px; width: 100%; display: block;"}) %>
        <div class="caption">
            <h4 id="thumbnail-label">
                <a href="<%= post.the_url %>"><%= post.the_title %></a>
            </h4>
            <small class="" style="display: block;"><%= post.the_created_at %></small>
            <hr>
            <p><%= raw post.the_excerpt %></p>
        </div>
    </div>
</div>