<% if post.has_thumb? && !defined?(skip_thumb) %>
    <div class="card card-default">
        <div class="card-body">
            <%= raw post.the_link_thumb({}, {class: "img-fluid img-rounded col-md-12 col-lg-12"}) %>
        </div>
    </div>
<%  end %>

<% categories = post.the_categories.decorate %>
<% if categories.present? && !defined?(skip_categories) %>
    <div class="card card-default">
        <div class="card-header"><%= ct("categories", default: 'Categories') %></div>
        <div class="card-body">
            <ul style="list-style-position: inside">
                <% categories.each do |cat| %>
                    <li><a href="<%= cat.the_url %>"><%= cat.the_title %></a></li>
                <% end %>
            </ul>
        </div>
    </div>
<% end %>

<% if !defined?(skip_last_articles) %>
    <div class="card card-default">
        <div class="card-header">
            <%= ct("latest_articles", default: 'Latest Articles') %>
        </div>
        <div class="card-body">
            <ul style="list-style-position: inside">
                <% current_site.the_posts("post").latest.limit(7).decorate.each do |p| %>
                    <li><a href="<%= p.the_url %>"><%= p.the_title %></a></li>
                <% end %>
            </ul>
        </div>
    </div>
<% end %>

<% if !defined?(skip_similar_art) %>
    <div class="card card-default">
        <div class="card-header">
            <%= ct("related_articles", default: 'Related Articles') %>
        </div>
        <div class="card-body">
            <ul style="list-style-position: inside">
                <% post.the_related_posts.latest.limit(7).decorate.each do |p| %>
                    <li><a href="<%= p.the_url %>"><%= p.the_title %></a></li>
                <% end %>
            </ul>
        </div>
    </div>
<% end %>


<% if !defined?(skip_tags) %>
    <% tags = post.the_tags.decorate %>
    <% if tags.present? %>
        <div class="card card-default">
            <div class="card-header"><%= ct("post_tag_list", default: 'Tags') %></div>
            <div class="card-body">
                <% tags.each do |post_tag| %>
                    <a class="btn btn-default btn-xs" href="<%= post_tag.the_url %>"><%= post_tag.the_title %></a>
                <% end %>
            </div>
        </div>
    <% end %>
<% end %>