<div class="page-title">
  <h2><span class="fa fa-usd"></span> <%= t('plugin.ecommerce.product.price') %></h2>
</div>

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

  <div class="row">
    <div class="col-md-12">

      <!-- START BASIC TABLE SAMPLE -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">  <%= t('plugin.ecommerce.list_price') %></h3>
          <%= link_to raw("<i class='fa fa-plus'></i> #{t('plugin.ecommerce.add_price')}"), {action: :new}, class: "btn btn-primary pull-right" %>
        </div>
        <div class="panel-body">

          <table class="table">
            <thead>
            <tr>
              <th><%= t('plugin.ecommerce.table.code')%></th>
              <th><%= t('plugin.ecommerce.product.price')%></th>
              <th><%= t('plugin.ecommerce.table.min_weight') %></th>
              <th><%= t('plugin.ecommerce.table.max_weight') %></th>
              <th><%= t('plugin.ecommerce.table.actions') %></th>
            </tr>
            </thead>
            <tbody>
            <%
               @prices.each do |id, row|
            %>
                <tr>
                  <td><%= row[:code] %></td>
                  <td><%= current_site.current_unit %> <%= row[:price] %></td>
                  <td><%= row[:min_weight] %> <%= current_site.current_weight %></td>
                  <td><%= row[:max_weight] %> <%= current_site.current_weight %></td>
                  <td>
                    <%= link_to raw('<i class="fa fa-edit"></i>'), {action: :edit, id: row[:id] }, class: "btn btn-default btn-xs", title: "#{t('admin.button.edit')}" %>
                    <%= link_to raw('<i class="fa fa-times"></i>'), {action: :destroy, id: row[:id] }, method: :delete, data: { confirm: t('admin.message.delete') }, class: "btn btn-danger btn-xs", title: "#{t('admin.button.delete')}" %>
                  </td>
                </tr>
            <% end  %>


            </tbody>
          </table>
          <%= content_tag("div", raw(t('admin.message.data_found_list')), class: "alert alert-warning") if @prices.empty? %>
        </div>
      </div>
      <!-- END BASIC TABLE SAMPLE -->
    </div>
  </div>
</div>

