<% (files rescue {file['name'] => file}).each do |k, file| next if @media_formats.present? && !@media_formats.include?(file["format"]) && !@media_formats.include?(file["url"].split('.').last) %>
    <div class="media_item file_item <%= file["format"] %>_format" data-key="<%= file["name"] %>">
        <div class="thumb">
            <% case file["format"]  %>
            <% when "image"  %>
                <img src="<%= file["thumb"] %>" alt="">
            <% when "audio"  %>
                <i class="fa fa-file-audio-o"></i>
            <% when "video"  %>
                <i class="fa  fa-film"></i>
            <% when "compress"  %>
                <i class="fa fa-file-archive-o"></i>
            <% when "doc"  %>
            <% when "document"  %>
                <i class="fa fa-file-text-o"></i>
            <% else  %>
                <i class="fa fa-file-o"></i>
            <% end %>
        </div>
        <div class="label_thumb">
            <%= file["name"] %>
        </div>
        <textarea class="hidden data_value"><%= raw file.to_json %></textarea>
        <% if @show_file_actions %>
            <div class="actions">
                <a href="#" class="del_item btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
            </div>
        <% end %>
    </div>
<% end %>