<div class="page-title">
  <h2><span class="fa fa-folder"></span> <%= "#{@parent.name.pluralize} / " if @parent.present? %> <%= params[:taxonomy].to_s.titleize.pluralize %></h2>
</div>
<div class="page-content-wrap">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading ui-draggable-handle">
          <h3 class="panel-title"><%= @term.id.present? ? "Edit" : "Add" %> <%= params[:taxonomy].to_s.titleize %></h3>
        </div>
          <%= render partial: 'admin/taxonomy/form' %>
      </div>

    </div>
  </div>
  <!-- END PAGE CONTENT WRAPPER -->
</div>
