<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><%= @plugin.name.titleize %></h3>
    </div>
    <div class="panel-body">
        <table  border="1" class="table"><caption>&nbsp;</caption>
            <thead>
                <tr>
                    <th><h3>Screenshot</h3></th>
                    <th><h3>Detail</h3></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="<%= plugin_asset_path("contact_form", "images/screenshot_1.jpg") %>" class="img-responsive" >
                    </td>
                    <td>Luego de Activar el plugin, seleccione el link "Settings" para abrir el menu y
                        buscar el link del plugin "<strong><%= @plugin.name.titleize %></strong>"</td>
                </tr>
                <tr>
                    <td><img src="<%= plugin_asset_path("contact_form", "images/screenshot_2.jpg") %>" class="img-responsive" ></td>
                    <td>
                        Hacer click sobre el link "<strong><%= @plugin.name.titleize %></strong>", para acceder a la lista de formularios y tambien poder crear formularios.
                    </td>
                </tr>
                <tr>
                    <td><img src="<%= plugin_asset_path("contact_form", "images/screenshot_3.jpg") %>" class="img-responsive" ></td>
                    <td>
                        Luego de seleccionar el link de "<strong><%= @plugin.name.titleize %></strong>", proceda a crear un formulario, colocando un <strong>Nombre</strong>,
                        <strong>Descripcion</strong>, luego hacer click sobre el boton <strong>"<%= t('admin.button.submit')%>"</strong>.
                    </td>
                </tr>

                <tr>
                    <td><img src="<%= plugin_asset_path("contact_form", "images/screenshot_4.jpg") %>" class="img-responsive" ></td>
                    <td>
                        Luego de seleccionar el boton <strong>"<%= t('admin.button.submit')%>"</strong>, nos aparece la siguiente pantalla donde tenemos los siguientes campos de configuracion: <br> <br>
                        <strong>1.- Form Details:</strong> en este panel tenemos los campos del formulario para editarlos <strong>Name</strong>, <strong>Slug</strong>.
                        <strong>2.- Form Settings Email:</strong> en este panel tenemos los campos de configuracion para el envio de email del sistema, donde <strong>"To:"</strong>
                        permite ingresar el correo electronico al cual llegara los mensajes del  formulario, <strong>"Subject:"</strong> aqui se coloca el asunto del email,
                        <strong>"Body:"</strong> aqui se coloca el cuerpo del mensaje.
                        <strong>3.- Form Settings Messages:</strong> en este panel tenemos la configuracion de los mensajes de error/confirmacion del formulario, en cada campo se puede
                        ingresar el mensaje que se desee.
                        <strong>4.- Edit Field:</strong> en este panel se colocaran todos los campos del formulario que se desee, ademas se tiene la opcion de cambiar el nombre del boton de envio del formulario
                        en el campo <strong>"Name Button"</strong>.
                        <strong>4.- Add Field:</strong> en este panel se tiene todos los campos para un formulario, la forma de agregar campos al panel Edit Field, es la siguiente:


                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="panel-footer">
        <a class="btn btn-default" href="<%= url_for admin_plugins_path %>">Back</a>
    </div>
</div>