<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- END META SECTION -->

    <%= stylesheet_link_tag theme_asset_path("css/main.css") %>
    <%= javascript_include_tag theme_asset_path("js/main.js") %>
    <%= raw the_head %>
</head>
<body>

<!-- container -->
<div class="container">
    <!-- header -->
    <%= render "layouts/header" %>
    <!-- ./header -->

    <div class="content">
        <%= yield %>
    </div>

    <!-- footer -->
    <%= render "layouts/footer" %>
    <!-- ./footer -->
</div>
<!-- ./container -->
</body>
</html>
