<div class="container-fluid">
    <%= render partial: 'partials/breadcrumb', locals: {breadcrumb: @post.the_breadcrumb} %>
    <div class="row">
        <div class="col-md-12 post-view">
            <article class="post-content">
                <h1><%= @post.the_title %></h1>
                <div class="author">
                    <time datetime=""><%= @post.the_created_at %></time>
                </div>
                <div class="item-content">
                    <%= raw @post.the_content %>
                </div>

                <!-- custom fields -->
                <% if @post.render_fields.present? %>
                    <hr>
                    <h4><%= ct("extra_attributes", default: 'Extra Attributes') %></h4>
                    <%= raw @post.render_fields %>
                <% end %>
            </article>
        </div>
    </div>
</div>
<%= @post.render_fields %>