<div class="container-fluid">
    <%= render partial: 'partials/breadcrumb', locals: {breadcrumb: @post.the_breadcrumb} %>
    <div class="row">
        <div class="col-md-9 post-view">
            <article class="post-content">
                <h1><%= @post.the_title %></h1>
                <div class="author">
                    <time datetime=""><%= @post.the_created_at %></time>
                </div>
                <div class="item-content">
                    <%= raw @post.the_content %>
                </div>
            </article>
            <%= render partial: 'partials/comments', locals: {post: @post} if @post.can_commented? %>
        </div>
        <div class="col-md-3">
            <%= render partial: 'partials/sidebar', locals: {post: @post} %>
        </div>
    </div>
</div>