<div class="page-content-wrap">

        <div class="col-md-8 col-md-offset-2">
            <input type="hidden" name="social" />

            <div id="settings-social" class="panel panel-default form-horizontal">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= t('plugin.social_login.title') %></h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <h3><span class="fa fa-info-circle"></span> <%= t('plugin.social_login.info_plugin') %></h3>
                    <%= t('plugin.social_login.activate_login_social_networks') %>
                </div>
                <%= form_tag admin_plugins_social_login_settings_path, class: "validate", id: "social_login_form", role: "form" do %>
                    <div class="panel-body form-group-separated">

                        <div class="form-group">
                            <div class="col-md-4 col-xs-5 control-label">
                                <input name="meta[has_twitter]" type="hidden" value="false"/>
                                <label class="check0">
                                    <input name="meta[has_twitter]" type="checkbox" class="icheckbox0" value="true" <%= 'checked' if @site.get_option('has_twitter', false) %>  onclick="do_api_secret(this, 'twitter');" />
                                    &nbsp; <%= t('admin.settings.login_twitter') %>
                                </label>
                                <%= raw html_tooltip(t('admin.settings.permission_login_twitter'), 'right') %>
                            </div>
                            <div class="col-md-8 col-xs-7 line-height-30 twitter_keys <%= (@site.get_option('has_twitter', false))? '' : 'hidden' %>">
                                <div class="row">
                                    <div class="form-group">
                                        <label><%= t('plugin.social_login.public_key') %></label>
                                        <input type="text" name="meta[twitter_public_key]" placeholder="Public key" class="form-control required" value="<%= @site.get_option('twitter_public_key') if @site.get_option('twitter_public_key', false) %>"  />
                                    </div>
                                    <div class="form-group">
                                        <label><%= t('plugin.social_login.private_key') %></label>
                                        <input type="text" name="meta[twitter_secret_key]" placeholder="Private key" class="form-control required" value="<%= @site.get_option('twitter_secret_key') if @site.get_option('twitter_secret_key', false) %>" />
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4 col-xs-5 control-label">
                                <input name="meta[has_facebook]" type="hidden" value="false"/>
                                <label class="check0">
                                    <input name="meta[has_facebook]" type="checkbox" class="icheckbox0" value="true" <%= 'checked' if @site.get_option('has_facebook', false) %> onclick="do_api_secret(this, 'facebook');" />
                                    &nbsp;<%= t('admin.settings.login_facebook') %>
                                </label>
                                <%= raw html_tooltip(t('admin.settings.permission_login_facebook'), 'right') %>
                            </div>
                            <div class="col-md-8 col-xs-7 line-height-30 facebook_keys <%= (@site.get_option('has_facebook', false))? '' : 'hidden'  %>">
                                <div class="row">
                                    <div class="form-group">
                                        <label><%= t('plugin.social_login.public_key') %></label>
                                        <input type="text" name="meta[facebook_public_key]" placeholder="Public key" class="form-control required" value="<%= @site.get_option('facebook_public_key') if @site.get_option('facebook_public_key', false) %>" />
                                    </div>
                                    <div class="form-group">
                                        <label><%= t('plugin.social_login.private_key') %></label>
                                        <input type="text" name="meta[facebook_secret_key]" placeholder="Private key" class="form-control required" value="<%= @site.get_option('facebook_secret_key') if @site.get_option('facebook_secret_key', false) %>" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4 col-xs-5 control-label">
                                <input name="meta[has_google]" type="hidden" value="false"/>
                                <label class="check0">
                                    <input name="meta[has_google]" type="checkbox" class="icheckbox0" value="true" <%= 'checked' if @site.get_option('has_google', false) %> onclick="do_api_secret(this, 'google');" />
                                    &nbsp; <%= t('admin.settings.login_google') %>
                                </label>
                                <%= raw html_tooltip(t('admin.settings.permission_login_google'), 'right') %>
                            </div>
                            <div class="col-md-8 col-xs-7 line-height-30 google_keys <%= (@site.get_option('has_google', false))? '' : 'hidden'  %>">
                                <div class="row">
                                    <div class="form-group">
                                        <label><%= t('plugin.social_login.public_key') %></label>
                                        <input type="text" name="meta[google_public_key]"  placeholder="Public key" class="form-control required" value="<%= @site.get_option('google_public_key') if @site.get_option('google_public_key', false) %>" />
                                    </div>
                                    <div class="form-group">
                                        <label><%= t('plugin.social_login.private_key') %></label>
                                        <input type="text" name="meta[google_secret_key]"  placeholder="Private key" class="form-control required" value="<%= @site.get_option('google_secret_key') if @site.get_option('google_secret_key', false) %>" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                            <a class="btn btn-default" href="<%= url_for admin_plugins_path %>"><%= t('admin.button.back') %></a>
                            <button class="btn btn-primary pull-right" type="submit"><%= t('admin.button.submit') %></button>
                        </div>

                    </div>
                <% end %>
            </div>

        </div>

</div>
<script>
    jQuery(function(){ init_form_validations($("#social_login_form"))});
</script>
<script>
    var panel_social;

    run.push(function(){
        panel_social = $("#settings-social");
    });

    function do_api_secret(thiss, social){

        if(thiss.checked){

            switch (social){
                case "twitter":
                    panel_social.find('.twitter_keys').removeClass('hidden');
                    break;
                case "facebook":
                    panel_social.find('.facebook_keys').removeClass('hidden');
                    break;
                case "google":
                    panel_social.find('.google_keys').removeClass('hidden');
                    break;
                default:

            }

        }else{
            switch (social){
                case "twitter":
                    panel_social.find('.twitter_keys').addClass('hidden');
                    panel_social.find("input[name='meta[twitter_public_key]']").val('');
                    panel_social.find("input[name='meta[twitter_secret_key]']").val('');
                    break;
                case "facebook":
                    panel_social.find('.facebook_keys').addClass('hidden');
                    panel_social.find("input[name='meta[facebook_public_key]']").val('');
                    panel_social.find("input[name='meta[facebook_secret_key]']").val('');
                    break;
                case "google":
                    panel_social.find('.google_keys').addClass('hidden');
                    panel_social.find("input[name='meta[google_public_key]']").val('');
                    panel_social.find("input[name='meta[google_secret_key]']").val('');
                    break;
                default:

            }


        }
    }
</script>