<div class="page-title">
  <h2><span class="fa fa-file-o"></span> <%= t('admin.page_title.list_of') %>  <%= @post_type.decorate.the_title.pluralize %> </h2>
</div>

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

  <div class="row">
    <div class="col-md-12">

      <!-- START BASIC TABLE SAMPLE -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('admin.page_title.list_of') %> <%= @post_type.decorate.the_title.pluralize %> </h3>
          <%= link_to raw("<i class='fa fa-plus'></i> #{t('admin.post_type.add')} #{@post_type.decorate.the_title}"), {action: :new}, class: "btn btn-primary pull-right" if can? :create_post, @post_type %>
        </div>
        <div class="panel-body">

          <div class="row" style="margin-bottom: 16px">
            <div class="col-md-9">
              <%= render partial: "admin/posts/filter_posts" %>
            </div>
            <div class="col-md-3">
              <form action="<%= url_for(action: :index) %>" method="get">
                <div class="input-group">
                  <input type="text" class="form-control" name="q" value="<%= params[:q] %>">
                  <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button></span>
                </div>
              </form>
            </div>


          </div>
          <table class="table table-hover ecomerce" id="posts-table-list">
            <thead>
            <tr>
              <th><%= t('plugin.ecommerce.product.sku') %></th>
              <th><%= t('admin.table.title') %></th>
              <th><%= t('admin.table.status') %></th>
              <th><%= t('plugin.ecommerce.product.price') %></th>
              <th><%= t('plugin.ecommerce.product.weight') %></th>
              <th><%= t('plugin.ecommerce.product.stock') %></th>
              <th><%= t('plugin.ecommerce.product.qty') %></th>
              <th><%= t('admin.table.author')%></th>
              <% if @post_type.manage_categories?  %>
                  <th><%= t('admin.table.categories')%></th>
              <% end %>
              <% if @post_type.manage_tags?  %>
                  <th><%= t('admin.table.tags')%></th>
              <% end %>
              <% extra_column = {post_type: @post_type, content: "", from_body: false};  hooks_run("list_post_extra_columns", extra_column) %>
              <%= raw extra_column[:content] %>
              <th style="width: 98px; text-align: right"><%= t('admin.table.actions')%></th>
            </tr>
            </thead>
            <tbody>
            <% @posts.eager_load(:categories, :post_tags).each do |f| f = f.decorate %>
                <tr data-id="<%= f.id %>" class="<%= "sortable" if can? :update, f %>">
                  <td><%= f.the_sku %></td>
                  <td>
                    <% if !f.trash? && (can? :update, f) %>
                        <%= link_to f.the_title, {action: :edit, id: f.id }, class: ""  %>
                    <% else %>
                        <%= f.the_title %>
                    <% end %>
                    <%= "*" + " (is #{@post_type.the_title} #{f.parent.decorate.the_title})" if f.draft? && f.parent.present? %>
                  </td>
                  <td><%= link_to raw(f.the_status), {action: :index, s: f.status } %>  </td>

                  <td><%= f.the_price %></td>
                  <td><%= f.the_weight %></td>
                  <td><%= raw f.the_stock_status %></td>
                  <td><%= f.the_qty %></td>

                  <td><%= f.author.fullname %></td>
                  <% if @post_type.manage_categories?  %>
                      <td><%= raw post_type_list_taxonomy(f.categories, "success") %></td>
                  <% end %>
                  <% if @post_type.manage_tags?  %>
                      <td><%= raw post_type_list_taxonomy(f.post_tags, "default") %></td>
                  <% end %>
                  <% extra_column = {post: f, post_type: @post_type, content: "", from_body: true};  hooks_run("list_post_extra_columns", extra_column) %>
                  <%= raw extra_column[:content] %>
                  <td style="text-align: right">
                    <% if f.published? %>
                        <% if f.slug.to_s.translations.present? %>
                            <div class="btn-group">
                              <button class="btn btn-info btn-xs dropdown-toggle e-co" data-toggle="dropdown" aria-expanded="false" title="<%= t('admin.button.preview') %>"><i class="fa fa-eye"></i> </button>
                              <ul class="dropdown-menu" style="min-width: 50px;">
                                <% f.slug.to_s.translations.each do |locale, slug| %>
                                    <li><a href="<%= url_to_fixed("post_path", slug: slug, locale: locale) %>" target="_blank"><%= locale.to_s.upcase %></a></li>
                                <% end %>
                              </ul>
                            </div>
                        <% else %>
                            <a href="<%= f.the_url %>" class="btn btn-info btn-xs e-co" target="_blank" title="<%= t('admin.button.preview') %>"><i class="fa fa-eye"></i></a>
                        <% end %>
                    <% end  %>

                    <% if f.trash? %>
                        <%= link_to raw('<i class="fa fa-check"></i>'), {action: :restore, post_id: f.id, s: params[:s] }, class: "btn btn-success btn-xs",  title: "#{t('admin.button.restore')}" if can? :update, f %>
                        <%= link_to raw('<i class="fa fa-times"></i>'), { action: :destroy, id: f.id, s: params[:s] },
                                    method: :delete, data: { confirm: t('admin.message.delete') }, class: "btn btn-danger btn-xs", title: "#{t('admin.button.delete')}"   if can? :destroy, f %>
                    <% elsif f.draft? %>
                        <%= link_to raw('<i class="fa fa-check"></i>'), {action: :edit, id: f.id, recover_draft: 'true' }, class: "btn btn-success btn-xs", title: "#{t('admin.button.recover')}" if can? :update, f %>
                        <%= link_to raw('<i class="fa fa-pencil"></i>'), {action: :edit, id: f.id }, class: "btn btn-default btn-xs", title: "#{t('admin.button.edit')}" if can? :update, f %>
                        <%= link_to raw('<i class="fa fa-trash"></i>'), { action: :trash, post_id: f.id, s: params[:s] },
                                    data: { confirm: t('admin.message.delete') }, class: "btn btn-danger btn-xs", title: "#{t('admin.button.delete')}"  if can? :destroy, f %>

                  <% else %>
                        <%= link_to raw('<i class="fa fa-pencil"></i>'), {action: :edit, id: f.id }, class: "btn btn-default btn-xs", title: "#{t('admin.button.edit')}" if can? :update, f %>
                        <%= link_to raw('<i class="fa fa-trash"></i>'), { action: :trash, post_id: f.id, s: params[:s] },
                                    data: { confirm: t('admin.message.delete') }, class: "btn btn-danger btn-xs", title: "#{t('admin.button.delete')}"  if can? :destroy, f %>
                    <% end  %>

                  </td>
                </tr>
            <% end %>

            </tbody>
          </table>
          <%= content_tag("div", raw(t('admin.message.data_found_list')), class: "alert alert-warning") if @posts.empty? %>
          <%= will_paginate @posts, renderer: BootstrapPagination::Rails  if @posts.present? %>
        </div>
      </div>
      <!-- END BASIC TABLE SAMPLE -->
    </div>
  </div>

</div>
