<% slider = current_site.slider_basics.where(slug: attributes["slug"]).first %>
<% if slider.present? %>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <% if slider.text_mode? %>
            <ol class="carousel-indicators">
                <% slider.get_field_values("text-slides").each_with_index do |text, index| %>
                    <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
                <% end %>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <% slider.get_field_values("text-slides").each_with_index do |text, index| %>
                    <div class="item text-center <%= 'active' if index == 0 %>">
                        <%= raw text %>
                    </div>
                <% end %>
            </div>
        <% else %>
            <ol class="carousel-indicators">
                <% slider.get_field_values('images').each_with_index do |image, index| %>
                    <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
                <% end %>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <% captions = slider.get_field_values('captions')
                   slider.get_field_values('images').each_with_index do |image, index| %>
                    <div class="item text-center <%= 'active' if index == 0 %>">
                        <img style="display: inline-block" src="<%= image %>" alt="">

                        <div class="carousel-caption">
                            <%= captions[index] rescue '' %>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class=" fa fa-arrow-circle-left" style="position: relative; top: 43%; font-size: 36px;" aria-hidden="true"></span>
            <span class="sr-only"><%= t('plugin.slider_basic.previous') %></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class=" fa fa-arrow-circle-right" style="position: relative; top: 43%; font-size: 36px;" aria-hidden="true"></span>
            <span class="sr-only"><%= t('plugin.slider_basic.next') %></span>
        </a>
    </div>
<% end %>