<div class="group-input-fields-content" data-callback-render="custom_field_radio_val">
    <% field.options[:multiple_options].each do |option|  %>
        <div class="radio"><label><input type="radio" value="<%= option[:value] %>" name="<%= field_name %>[<%= field.slug %>][values][]" <%= 'checked' if default_use &&  option[:default].present? && option[:default] != 'none' %> > <%= option[:title] %></label></div>
    <% end %>
</div>
