<div class="page-title">
  <h2><span class="fa fa-tag"></span> <%= t('plugin.slider_basic.title') %></h2>
</div>

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

  <div class="row">
    <div class="col-md-12">

      <!-- START BASIC TABLE SAMPLE -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> <%= t('plugin.slider_basic.list') %></h3>
          <%= link_to raw("<i class='fa fa-plus'></i> #{t('plugin.slider_basic.add_slider')}"), {action: :new}, class: "btn btn-primary pull-right" %>
        </div>
        <div class="panel-body">

          <table class="table">
            <thead>
            <tr>
              <th id=""><%= t('admin.table.id') %></th>
              <th id=""><%= t('admin.table.name') %></th>
              <th id=""><%= t('admin.table.short_code') %></th>

              <th><%= t('admin.table.actions') %></th>
            </tr>
            </thead>
            <tbody>
            <%
               @slider_basics.each do |row|

            %>
                <tr>
                  <td><%= row.id %></td>
                  <td><%= row.name %></td>
                  <td>[slider_basic slug=<%= row.slug %>]</td>
                  <td>
                    <%= link_to raw('<i class="fa fa-edit"></i>'), {action: :edit, id: row.id }, class: "btn btn-default btn-xs", title: "#{t('admin.button.edit')}" %>
                    <%= link_to raw('<i class="fa fa-trash"></i>'), { action: :destroy, id: row.id}, method: :delete,
                                data: { confirm: t('admin.message.delete') }, class: "btn btn-danger btn-xs", title: "#{t('admin.button.delete')}" %>
                  </td>
                </tr>
            <% end  %>


            </tbody>
          </table>
          <%= content_tag("div", raw(t('admin.message.data_found_list')), class: "alert alert-warning") if @slider_basics.empty? %>
          <%= will_paginate @slider_basics, renderer: BootstrapPagination::Rails  %>
        </div>
      </div>
      <!-- END BASIC TABLE SAMPLE -->
    </div>
  </div>
</div>

