<% content_for(:title, t("camaleon_cms.admin.login.forgot_your_password_int")) %>
<div class="login-body">
  <%= render "camaleon_cms/flash_messages" %>
  <% if @form_reset.present? %>
      <h3 class="login-title"><%= t('camaleon_cms.admin.login.reset_password') %></h3>
      <%= form_for(@user, as: "user", :html => { method: "post", role: "form", id:"login_user", class: "form-horizontal"  }, :url => cama_admin_forgot_path({h: params[:h]}) ) do |f| %>
          <div class="form-group">
            <div class="col-md-12">
              <%= f.password_field :password, :class => "form-control", :placeholder => t('camaleon_cms.admin.table.password', default: 'Password') %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => t('camaleon_cms.admin.table.password_confirmation', default: 'Password Confirmation') %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <button class="btn btn-primary btn-block"><%= t('camaleon_cms.admin.button.enter', default: 'Enter') %></button>
            </div>
          </div>
      <% end %>
  <% else  %>
      <h3 class="login-title"><%= raw t('camaleon_cms.admin.login.reset_password_html')%> </h3>
      <%= form_for(@user, as: "user", :html => { method: "post", role: "form", id:"login_user", class: "form-horizontal"  }, :url => cama_admin_forgot_path ) do |f| %>
          <div class="form-group">
            <div class="col-md-12">
              <%= f.email_field :email, :class => "form-control", :placeholder => t("camaleon_cms.admin.login.email", default: 'Email') %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <button class="btn btn-primary btn-block"><%= t('camaleon_cms.admin.button.submit', default: 'Submit') %></button>
            </div>
          </div>
      <% end %>
  <% end %>
    <div class="text-right">
        <%= link_to("#{t("camaleon_cms.common.login", default: 'Log In')}&raquo;".html_safe, cama_admin_login_path, class: "btn btn-default") %>
    </div>
</div>



