<div class="group-input-fields-content">
  <select name="<%= @field_name %>[<%= @field.slug %>][values][]" class="form-control input-value <%= "required" if @field.options[:required].to_s.to_bool %>" <%= "readonly" if @field.options[:readonly].present? %> <%= "disabled" if @field.options[:disabled].present? %>>
    <% @field.options[:multiple_options].each do |option|  %>
        <option value="<%= option[:value] %>" <%= 'selected' if @default_use && option[:default].present? %>><%= option[:title] %></option>
    <% end %>
  </select>
</div>
