
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <!-- START BASIC TABLE SAMPLE -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= t('plugin.shortcodes_viewer.list_shortcodes') %></h3>
                </div>
                <div class="panel-body">

                    <table class="table">
                        <thead>
                        <tr>
                            <th><%= t('plugin.shortcodes_viewer.table.key') %></th>
                            <th><%= t('plugin.shortcodes_viewer.table.description') %></th>
                            <th><%= t('plugin.shortcodes_viewer.table.template') %></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% @_shortcodes.each do |code| %>
                            <tr>
                                <td>[<%= code %>]</td>
                                <td><%= @_shortcodes_descr[code]  %></td>
                                <td><%= @_shortcodes_template[code] %></td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>
                    <%= content_tag("div", t('admin.message.data_found_list'), class: "alert alert-warning") if @_shortcodes.empty? %>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-default" href="<%= url_for admin_plugins_path %>"><%= t('admin.button.back') %></a>
                </div>
            </div>
            <!-- END BASIC TABLE SAMPLE -->
        </div>
    </div>

</div>
