<div class="page-title">
  <h2><span class="fa fa-taxi"></span> <%= @shipping_method.name %></h2>
</div>

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <!-- START BASIC TABLE SAMPLE -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> <%= t('plugin.ecommerce.details_shipping_methods') %> </h3>
          <%= link_to raw("<i class='fa fa-edit'></i> #{t('plugin.ecommerce.edit_shipping_methods')}"), {action: :edit, id: @shipping_method.id}, class: "btn btn-primary pull-right" %>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <h3><%= t('plugin.ecommerce.info') %></h3>
              <ul class="ec-list-orders-address">
                <li><strong><%= t('plugin.ecommerce.table.name') %>:</strong> <span> <%= @shipping_method.name %></span></li>
                <li><strong><%= t('plugin.ecommerce.table.description') %>:</strong> <span> <%= @shipping_method.description %></span></li>
              </ul>
            </div>

          </div>

        </div>
        <div class="panel-footer">
            <a class="btn btn-default" role="back" href="<%= url_for action: :index %>"><%= t('admin.button.back')%></a>
        </div>
      </div>
      <!-- END BASIC TABLE SAMPLE -->
    </div>
  </div>
</div>

