<div class="col-sm-6 col-md-4 post-list-item">
    <div class="thumbnail">
        <span style="position: absolute; top: 5px; right: 22px"><%= raw post.the_featured_status %></span>
        <%= raw post.the_link_thumb({}, {style: "height: 200px; width: 100%; display: block;"}) %>
        <div class="caption">
            <h4 id="thumbnail-label">
                <a href="<%= post.the_url %>"><%= post.the_title %></a>
            </h4>
          <small>SKU: <%= post.the_sku %></small><br>
          <strong><%= post.the_price %> <span class="pull-right"><%= raw post.the_stock_status %></span></strong><br>
          <hr/>
            <p><%= raw post.the_excerpt %></p>
        </div>
    </div>

  <%#= debug post.get_field_values_hash %>
</div>

