<div class="page-title">
  <h2><span class="fa fa-credit-card"></span> <%= @payment_method.new_record? ? "#{t('plugin.ecommerce.new_payment_methods')}" : "#{t('plugin.ecommerce.edit_payment_methods')}: #{@payment_method.name}" %></h2>
</div>

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading ui-draggable-handle">
          <h3 class="panel-title"><%= t('plugin.ecommerce.form_payment_methods') %></h3>
        </div>
        <%= form_for @payment_method, url:{action: @payment_method.new_record? ? :create : :update},  html: {class: 'validate-payment_method', id: 'form-payment_method'}  do |f| %>
            <div class="panel-body">
              <%= render partial: 'layouts/admin/form_error', locals: {data: @payment_method} %>
              <div class="form-group">
                <%= f.label t('plugin.ecommerce.table.name') %><br>
                <%= f.text_field :name, :class => "form-control required" %>
              </div>
              <div class="form-group">
                <%= f.label t('admin.table.slug') %><br>
                <%= f.text_field :slug, :class => "form-control slug", "data-parent" => "plugins_ecommerce_models_payment_method_name" %>
              </div>
              <div class="form-group">
                <%= f.label t('plugin.ecommerce.table.description') %><br>
                <%= f.text_area :description, :class => "form-control", :rows => 4 %>
              </div>
              <div class="form-group">
                <label><%= f.check_box :status %> &nbsp; <%= t('plugin.ecommerce.active') %> </label>
              </div>

              <% options = @payment_method.options rescue {type: 'bank_transfer'}
                 options = params[:options] if params[:options].present?
              %>
              <h4><%= t('plugin.ecommerce.options_payment_methods') %></h4>
              <hr/>
              <div id="tab-select-payment-method" class="panel panel-default tabs">
                <ul  class="nav nav-tabs nav-justified">
                  <li class="<%= 'active' if options[:type] == 'bank_transfer' %>"><a href="#tab8" data-toggle="tab"><%= t('plugin.ecommerce.by_bank_transfer') %></a></li>
                  <li class="<%= 'active' if options[:type] == 'paypal' %>"><a href="#tab9" data-toggle="tab"><%= t('plugin.ecommerce.by_paypal') %></a></li>
                  <li class="<%= 'active' if options[:type] == 'credit_card' %>"><a href="#tab7" data-toggle="tab"><%= t('plugin.ecommerce.by_credit_card') %></a></li>
                </ul>
                <div class="panel-body tab-content">

                  <div class="tab-pane <%= 'active' if options[:type] == 'bank_transfer' %>" id="tab8">
                    <%= hidden_field_tag( "options[type]", 'bank_transfer') %>
                    <div class="form-group">
                      <label><%= t('plugin.ecommerce.table.number_account_bank') %></label><br>
                      <%= text_field_tag( "options[bank_transfer_number_account]", options[:bank_transfer_number_account], class: "form-control required") %>
                    </div>
                    <div class="form-group">
                      <label><%= t('plugin.ecommerce.table.details') %></label><br>
                      <%= text_area_tag( "options[bank_transfer_detail]", options[:bank_transfer_detail], class: "form-control required") %>
                    </div>
                  </div>

                  <div class="tab-pane <%= 'active' if options[:type] == 'paypal' %>" id="tab9">
                    <%= hidden_field_tag( "options[type]", 'paypal') %>
                    <div class="form-group">
                      <label><%= t('plugin.ecommerce.table.username_login') %></label><br>
                      <%= text_field_tag( "options[paypal_login]", options[:paypal_login], class: "form-control required") %>
                    </div>
                    <div class="form-group">
                      <label><%= t('plugin.ecommerce.table.password') %></label><br>
                      <%= text_field_tag( "options[paypal_password]", options[:paypal_password], class: "form-control required") %>
                    </div>
                    <div class="form-group">
                      <label><%= t('plugin.ecommerce.table.signature') %></label><br>
                      <%= text_field_tag( "options[paypal_signature]", options[:paypal_signature], class: "form-control required") %>
                    </div>
                    <div class="form-group">
                      <div class="checkbox"><label><input type="checkbox" name="options[paypal_sandbox]" value="1" <%= 'checked' if options[:paypal_sandbox] %>>  <%= t('plugin.ecommerce.table.sandbox') %> </label></div>
                    </div>
                  </div>

                  <div class="tab-pane <%= 'active' if options[:type] == 'credit_card' %>" id="tab7">
                    <%= hidden_field_tag( "options[type]", 'credit_card') %>
                    <div class="form-group">
                      <label><%= t('plugin.ecommerce.table.username_login') %></label><br>
                      <%= text_field_tag( "options[cc_paypal_login]", options[:cc_paypal_login], class: "form-control required") %>
                    </div>
                    <div class="form-group">
                      <label><%= t('plugin.ecommerce.table.password') %></label><br>
                      <%= text_field_tag( "options[cc_paypal_password]", options[:cc_paypal_password], class: "form-control required") %>
                    </div>
                    <div class="form-group">
                      <label><%= t('plugin.ecommerce.table.signature') %></label><br>
                      <%= text_field_tag( "options[cc_paypal_signature]", options[:cc_paypal_signature], class: "form-control required") %>
                    </div>
                    <div class="form-group">
                      <div class="checkbox"><label><input type="checkbox" name="options[cc_paypal_sandbox]" value="1" <%= 'checked' if options[:cc_paypal_sandbox] %>>  <%= t('plugin.ecommerce.table.sandbox') %> </label></div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="panel-footer">
              <a class="btn btn-default" href="<%= url_for action: :index %>" role="back"><%= t('admin.button.back')%></a>
              <button class="btn btn-primary pull-right" type="submit"><%= t('admin.button.submit')%></button>
            </div>
        <% end %>
      </div>


    </div>
  </div>
</div>

