<div class="page-title">
  <h2><span class="fa fa-credit-card"></span> <%= t('plugin.ecommerce.payment_methods') %></h2>
</div>

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

  <div class="row">
    <div class="col-md-12">

      <!-- START BASIC TABLE SAMPLE -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> <%= t('plugin.ecommerce.list_payment_methods') %></h3>
          <%= link_to raw("<i class='fa fa-plus'></i> #{t('plugin.ecommerce.add_payment_method')}"), {action: :new}, class: "btn btn-primary pull-right" %>
        </div>
        <div class="panel-body">

          <table class="table">
            <thead>
            <tr>
              <th id=""><%= t('plugin.ecommerce.table.id') %></th>
              <th id=""><%= t('plugin.ecommerce.table.name') %></th>
              <th id=""><%= t('plugin.ecommerce.table.status') %></th>
              <th id=""><%= t('plugin.ecommerce.table.description') %></th>
              <th><%= t('plugin.ecommerce.table.actions') %></th>
            </tr>
            </thead>
            <tbody>
            <%
               @payment_methods.each do |row|
               row = row.decorate
            %>
                <tr>
                  <td><%= row.slug %></td>
                  <td><%= row.name %></td>
                  <td><%= raw row.the_status %></td>
                  <td><%= row.description  %></td>
                  <td>
                    <%= link_to raw('<i class="fa fa-eye"></i>'), {action: :show, id: row.id }, class: "btn btn-info btn-xs", title: "#{t('admin.button.preview')}" %>
                    <%= link_to raw('<i class="fa fa-edit"></i>'), {action: :edit, id: row.id }, class: "btn btn-default btn-xs", title: "#{t('admin.button.edit')}" %>
                  </td>
                </tr>
            <% end  %>


            </tbody>
          </table>
          <%= content_tag("div", raw(t('admin.message.data_found_list')), class: "alert alert-warning") if @payment_methods.empty? %>
          <%= will_paginate @payment_methods, renderer: BootstrapPagination::Rails  %>
        </div>
      </div>
      <!-- END BASIC TABLE SAMPLE -->
    </div>
  </div>
</div>

