<div class="page-title">
  <h2><span class="fa fa-credit-card"></span> <%= @payment_method.name %></h2>
</div>

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <!-- START BASIC TABLE SAMPLE -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> <%= t('plugin.ecommerce.details_payment_methods') %></h3>
          <%= link_to raw("<i class='fa fa-edit'></i> #{t('plugin.ecommerce.edit_payment_methods')}"), {action: :edit, id: @payment_method.id}, class: "btn btn-primary pull-right" %>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <h3><%= t('plugin.ecommerce.info') %></h3>
              <ul class="ec-list-orders-address">
                <li><strong><%= t('plugin.ecommerce.table.name') %>:</strong> <span> <%= @payment_method.name %></span></li>
                <li><strong><%= t('plugin.ecommerce.table.description') %>:</strong> <span> <%= @payment_method.description %></span></li>
                <li><strong><%= t('plugin.ecommerce.status') %>:</strong> <span> <%= raw @payment_method.the_status %></span></li>
              </ul>
            </div>

            <div class="col-md-6">
              <% if @payment_method.options[:type] == 'paypal' %>
                <h3><%= t('plugin.ecommerce.method_paypal') %></h3>
                <ul class="ec-list-orders-address">
                  <li><strong><%= t('plugin.ecommerce.table.login') %>:</strong> <span> <%= @payment_method.options[:paypal_login]  %></span></li>
                  <li><strong><%= t('plugin.ecommerce.table.password') %>:</strong> <span> <%= @payment_method.options[:paypal_password]  %></span></li>
                  <li><strong><%= t('plugin.ecommerce.table.signature') %>:</strong> <span> <%= @payment_method.options[:paypal_signature]  %></span></li>
                  <li><strong><%= t('plugin.ecommerce.table.sandbox') %>:</strong> <span> <%= @payment_method.options[:paypal_sandbox].to_s.to_bool ? 'Yes' : 'No'  %></span></li>
                </ul>
              <% end  %>
              <% if @payment_method.options[:type] == 'bank_transfer' %>
                <h3><%= t('plugin.ecommerce.method_bank_transfer') %></h3>
                <ul class="ec-list-orders-address">
                  <li><strong><%= t('plugin.ecommerce.table.number_account_bank') %>:</strong> <span> <%= @payment_method.options[:bank_transfer_number_account]  %></span></li>
                  <li><strong><%= t('plugin.ecommerce.table.details') %>:</strong> <span> <%= @payment_method.options[:bank_transfer_detail] %></span></li>
                </ul>
              <% end  %>
            </div>
          </div>

        </div>
          <div class="panel-footer">
              <a class="btn btn-default" role="back" href="<%= url_for action: :index %>"><%= t('admin.button.back')%></a>
          </div>
      </div>
      <!-- END BASIC TABLE SAMPLE -->
    </div>
  </div>
</div>

