<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.content %>
</p>
<%= debug @post  %>

<h2>meta</h2>
<%= debug @post.metas  %>
 
<h2>category:</h2>
<%= debug @post.categories  %>
<h2>post_tag:</h2>
<%= debug @post.post_tags  %>


