<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <%= stylesheet_link_tag theme_asset_path("css/#{current_theme.get_field("theme", "orange")}.css") %>
    <%= stylesheet_link_tag theme_asset_path("css/main.css") %>
    <script>var is_home = "<%= is_home? %>"; </script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= javascript_include_tag theme_asset_path("js/main.js") %>
    <%= raw the_head %>
</head>

<body class="<%= is_home? ? "home-page" : "inner-page" %>">
<div id="warp">
    <!-- Header -->
    <div class="container"><%= raw current_site.draw_languages("language_list list-inline pull-right", true) %></div>
    <div class="subMenu index3-nav" id="main_menu" style="position: absolute; top: 40px;">
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <a href="<%= root_url %>" title=""><img class="logo " src="<%= current_site.the_logo(theme_asset_path("images/logo-green-dark.png")) %>"  alt=""></a>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="navigation">
                        <%= raw draw_menu({menu_slug: "left_main_menu", container_class: "nav navbar-nav navbar-left", sub_class: "", item_class_parent: "", link_class_parent: "", item_current: "active", callback_item: lambda{|args| args[:settings][:after] = "<span class='caret'></span>" if args[:has_children];  }}) %>
                        <%= raw draw_menu({menu_slug: "right_main_menu", container_class: "nav navbar-nav navbar-right", sub_class: "", item_class_parent: "", link_class_parent: "", item_current: "active", callback_item: lambda{|args| args[:settings][:after] = "<span class='caret'></span>" if args[:has_children];  }}) %>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
                <!-- /.container-fluid -->
            </nav>
        </div>
        <div class="clearfix"></div>
    </div>
    <% unless is_home? %>
        <% img = current_theme.get_field("inner_bg") %>
        <div class="section sTop clearfix ">
            <section id="banner" class="small">
                <%= image_tag(img) if img.present? %>
            </section>
            <br class="clear">
        </div>
    <% end %>

    <% if is_home? %>
        <%= yield %>
    <% else %>
        <div class="inner_container"><%= yield %></div>
    <% end %>

    <footer class="section">
        <section class="contact" style="margin-top: 0">
            <div class="row">
                <div class="col-md-12">
                    <div class="social">
                        <% if (s = camaleon_cms_draw_links).present? %>
                            <h5><%= current_theme.the_field("social_label") %></h5>
                            <%= raw s %>
                        <% end %>
                    </div>
                    <div class="copyright"><%= raw current_theme.the_field("footer_descr") %></div>
                </div>
            </div>
        </section>
    </footer>
    <!-- contact us End -->
</div>
</body>
</html>