<% comments.each do |comment| user = comment.comment_user.decorate %>
    <div class="comment-body <%= "answer" if children.present? %>">
        <div class="image <%= "image_children" if children.present? %>">
            <div class="thumbnail">
                <%= image_tag user.the_avatar, class: "img-fluid avatar"%>
            </div><!-- /thumbnail -->
        </div><!-- /col-sm-1 -->
        <div class="comment-content text <%= "text_children" if children.present? %>">
            <div class="card card-default">
                <div class="card-header">
                    <strong class="<%= (children.present?)? "float-right" : "" %>"><%= user.the_name %></strong> <small class="text-muted <%= (children.present?)? "" : "float-right" %>"><%= comment.decorate.the_created_at %></small>
                </div>
                <div class="card-body">
                <%= comment.content %>
            </div><!-- /card-body -->
        </div><!-- /card card-default -->
        </div><!-- /col-sm-5 -->
    </div>
    <%= render partial: "partials/comments_list", locals: { comments: comment.children.approveds, children: "present" }  if comment.children.present? %>
<% end %>
