<% normal_sections = 0 %>
<!-- Header End -->
<% current_site.the_posts("camaleon_layout").decorate.each do |layout|
  layout_key = layout.get_field("layout");
  layout_bg = layout.get_field("bg"); layout_bg = layout_bg.present? ? "background: url(#{layout_bg}) no-repeat fixed 50% 0;" : "";
  bg_color = layout.get_field("bg_color"); bg_color = bg_color.present? ? "background-color: #{bg_color};":"";
%>

    <% if layout_key == "banner" %>
        <!-- Banner -->
        <div class="section sTop clearfix" id="<%= layout_key %>_section" style="<%= bg_color %>">
            <ul id="demo1">
                <% current_site.the_posts("camaleon_slider").decorate.each do |slider| %>
                    <li>
                        <img src="<%= slider.get_field("bg") %>"  alt="" />
                        <div class="slide-desc">
                            <div><span class="creative <%= slider.get_field("color") == "1" ? "creative2" : "creative3" %>" ><%= slider.the_title %></span>
                                <div class="small-text <%= slider.get_field("color") == "1" ? "small-text2" : "small-text3" %>"><%= raw slider.the_content %></div> </div>
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>
        <!-- Banner End -->
    <% end %>

    <% if layout_key == "features" %>
        <!-- About Us -->
        <div class="section" id="<%= layout_key %>_section" style="<%= layout_bg %>">
            <section class="about <%= "parallax_panel" if layout_bg.present? %>" style="<%= bg_color %>"  id="about">
                <%= raw '<div class="patteren"></div>' if layout_bg.present? %>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="title animate fadeIn">
                                <h1 class="light"><%= layout.the_title %></h1>
                                <% if (sub_title = layout.the_field("sub_title")).present? %>
                                    <br/>
                                    <h2><%= sub_title %></h2>
                                <% end %>
                                <div class="descr"><%= raw layout.the_content %></div>
                            </div>
                        </div>
                        <div class="features">
                            <% current_site.the_posts("camaleon_features").decorate.each_with_index do |feature, index| %>
                                <div class="col-md-3 animate fadeIn" data-delay="<%= 500*(index+1) %>">
                                    <a href="<%= feature.the_url %>" title="">
                                        <i class="fa <%= feature.get_field("icon") %> hovicon effect-1 sub-a <%= "even" if index % 2 == 0 %>"></i>
                                    </a>
                                    <h4><%= feature.the_title %></h4>
                                    <p ><%= feature.the_excerpt %></p>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </section>
            <!-- BEGIN TEAM CONTAINER -->
        </div>
    <% end %>

    <% if layout_key == "expertise" %>
        <div class="section" id="<%= layout_key %>_section" style="<%= layout_bg %>">
            <section class="about <%= "parallax_panel" if layout_bg.present? %>" style="<%= bg_color %>" id="expertise">
                <%= raw '<div class="patteren"></div>' if layout_bg.present? %>
                <div class="experties">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="animate fadeIn">
                                <h2 class="light"><%= layout.the_title %></h2>
                                <% if (sub_title = layout.the_field("sub_title")).present? %>
                                    <br/>
                                    <h2><%= sub_title %></h2>
                                <% end %>
                                <div class="title-detail"><%= raw layout.the_content %></div>
                            </div>
                            <div class="skills">
                                <% current_site.the_posts("camaleon_expertise").decorate.each_with_index do |expertise, index| %>
                                    <div class="skillbar clearfix" data-percent="<%= expertise.get_field("percentage") %>%">
                                        <a href="<%= expertise.the_url %>" title="">
                                            <div class="skillbar-title <%= "dark-title" if index%2==0 %>">
                                                <span><%= expertise.the_title %></span>
                                                <div class="c"><%= raw expertise.the_content %></div>
                                            </div>
                                            <div class="skillbar-bar <%= "bg-dark" if index%2==0 %>"></div>
                                            <div class="skill-bar-percent <%= "gray" if index%2==0 %> animate pulse" data-delay="<%= (index + 1)*500 %>"><%= expertise.get_field("percentage") %>%</div>
                                        </a>
                                    </div>
                                <% end %>
                                <!-- End Skill Bar -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    <% end %>

    <% if layout_key == "team" %>
        <div class="section" id="<%= layout_key %>_section" style="<%= layout_bg %>">
            <!-- BEGIN TEAM CONTAINER -->
            <section class="team <%= "parallax_panel" if layout_bg.present? %>" style="<%= bg_color %>" id="team">
                <%= raw '<div class="patteren"></div>' if layout_bg.present? %>
                <div class="container text-center">
                    <!-- BEGIN HEADING -->
                    <div class="title animate fadeIn">
                        <h1 class="light"><%= layout.the_title %></h1>
                        <% if (sub_title = layout.the_field("sub_title")).present? %>
                            <br/>
                            <h2><%= sub_title %></h2>
                        <% end %>
                        <div class="title-detail"><%= raw layout.the_content %></div>
                    </div>
                    <!-- END HEADING -->
                    <div class="row">
                        <% an = ["fadeInLeftBig", "fadeIn", "fadeInRightBig"];
                           index = 0;
                           current_site.the_posts("camaleon_team").decorate.each do |team| %>
                            <div class="col-md-4 animate <%= an[index] %>" data-delay="100">
                                <div class="team-sec team-sec1 team-style2">
                                    <div class="member"><img src="<%= team.get_field("photo") %>"  alt=""></div>
                                    <div class="detail-left">
                                        <h4><%= team.the_title %></h4>
                                        <span><%= team.the_field("role") %></span>
                                        <p><%= team.the_excerpt %></p>
                                        <div class="social-icons">
                                            <% if (fb = team.get_field("fb")).present? %>
                                                <a href="<%= fb %>" class="fb"><i class="fa fa-facebook"></i></a>
                                            <% end %>
                                            <% if (tw = team.get_field("tw")).present? %>
                                                <a href="<%= tw %>" class="tw"><i class="fa fa-twitter"></i></a>
                                            <% end %>
                                            <% if (it = team.get_field("it")).present? %>
                                                <a href="<%= it %>" class="it"><i class="fa fa-instagram"></i></a>
                                            <% end %>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <%= raw "<div class='clearfix'></div>" if index == 2 %>
                            <% index+=1; index = 0 if index == 3; %>
                        <% end %>
                    </div>
                </div>

            </section>
        </div>
    <% end %>

    <% if layout_key == "counters" %>
        <div class="section" id="<%= layout_key %>_section" style="<%= layout_bg %>">
            <!-- END TEAM CONTAINER -->
            <section class="counters <%= "parallax_panel" if layout_bg.present? %>" style="<%= bg_color %>">
                <%= raw '<div class="patteren"></div>' if layout_bg.present? %>
                <div>
                    <div class="container">
                        <div class="row" id="counters">
                            <% current_site.the_posts("camaleon_counters").decorate.each_with_index do |counter, index| %>
                                <div class="col-md-3">
                                    <a href="<%= counter.the_url %>" title="">
                                        <div class="counter"> <span class="timer<%= index+1 %>"><%= counter.get_field("count") %></span>
                                            <p><%= counter.the_title %></p>
                                        </div>
                                    </a>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    <% end %>

    <% if layout_key == "gallery" %>
        <div class="section" id="<%= layout_key %>_section" style="<%= layout_bg %>">
            <section class="portfolio no-padding-bottom <%= "parallax_panel" if layout_bg.present? %>" style="<%= bg_color %>" id="portfolio">
                <%= raw '<div class="patteren"></div>' if layout_bg.present? %>
                <div class="container">
                    <div class="title animate fadeIn">
                        <h1 class="light"><%= layout.the_title %></h1>
                        <% if (sub_title = layout.the_field("sub_title")).present? %>
                            <br/>
                            <h2><%= sub_title %></h2>
                        <% end %>
                        <div class="title-detail"><%= raw layout.the_content %></div>
                    </div>
                </div>
                <% pt_gallery = current_site.the_post_type("camaleon_gallery") %>
                <div  id="filters">
                    <ul class="clearfix">
                        <li><a href="#" data-filter="*" class="active"><h3>All</h3></a></li>
                        <% pt_gallery.the_categories.decorate.each do |cat| %>
                            <li><a href="#" class="fancybox" data-filter=".<%= cat.the_slug %>"><h3><%= cat.the_title %></h3></a></li>
                        <% end %>
                    </ul>
                </div>
                <div id="portfolio-items-wrap">
                    <% pt_gallery.the_posts.decorate.each do |gallery| file = gallery.get_field("file"); is_photo = ["jpg", "png", "gif", "bmp", "jpeg"].include?(file.split(".").last.downcase) %>
                        <div class="portfolio-item <%= gallery.the_categories.pluck("slug").translate.join(" ") %>">
                            <div class="freshdesignweb">
                                <div class="image_grid">
                                    <ul id="list" class="portfolio_list da-thumbs">
                                        <li>
                                            <div class="slideUp"><img src="<%= gallery.get_field("thumb") %>"  alt=""></div>
                                            <article class="da-animate da-slideFromRight" style="display: block;">
                                                <a class="fancybox <%= is_photo ? "photo-icon" : "fancybox-media video-icon" %> " href="<%= file %>" data-fancybox-group="gallery" title="<%= gallery.the_title %>">
                                                    <i class="fa <%= is_photo ? "fa-camera-retro" : "fa-video-camera" %>"></i>
                                                    <h5><%= gallery.the_title %><br/></h5>
                                                    <span><%= gallery.the_categories.pluck("name").translate.join(" | ") %></span>
                                                </a>
                                            </article>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </section>
        </div>
    <% end %>

    <% if layout_key == "normal" %>
        <div class="section" id="<%= layout_key %>_section<%= normal_sections if normal_sections>0 %>" style="<%= layout_bg %>">
            <section class="latest-pro <%= "parallax_panel" if layout_bg.present? %>" style="<%= bg_color %>">
                <%= raw '<div class="patteren"></div>' if layout_bg.present? %>
                <div class="row">
                    <div class="col-md-12">
                        <div class=" animate fadeIn">
                            <div class="title animate fadeIn">
                                <h1 class="light"><%= layout.the_title %></h1>
                                <% if (sub_title = layout.the_field("sub_title")).present? %>
                                    <br/>
                                    <h2><%= sub_title %></h2>
                                <% end %>
                            </div>
                        </div>
                        <div class="container">
                            <div class="devices animate bounceInUp"><%= raw layout.the_content %></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    <% normal_sections+=1; end %>

    <% if layout_key == "testimonials" %>
        <div class="section" id="<%= layout_key %>_section" style="<%= layout_bg %>">
            <section class="testimonials <%= "parallax_panel" if layout_bg.present? %>" style="<%= bg_color %>">
                <%= raw '<div class="patteren"></div>' if layout_bg.present? %>
                <div>
                    <div class="container"> <i class="fa fa-twitter"></i>
                        <div class="twitter flash animated">
                            <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
                                <% title, body = [], [] %>
                                <% current_site.the_posts("camaleon_testimonial").decorate.each_with_index { |testi, index|
                                  title << "<li data-target='#carousel-example-generic2' data-slide-to='#{index}' class='#{"active" if index == 0}'></li>"
                                  body << "<div class='item #{"active" if index == 0}'>
                                                    <div>#{testi.the_content} <span class='date'>#{testi.the_title}</span></div>
                                                </div>"
                                } %>
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <%= raw title.join("") %>
                                </ol>
                                <div class="carousel-inner">
                                    <%= raw body.join("") %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    <% end %>

    <% if layout_key == "pricing" %>
        <!-- Table -->
        <div class="section" id="<%= layout_key %>_section" style="<%= layout_bg %>">
            <section class="pricing <%= "parallax_panel" if layout_bg.present? %>" style="<%= bg_color %>">
                <%= raw '<div class="patteren"></div>' if layout_bg.present? %>
                <div class="container">
                    <div class="row">
                        <div class="title animate fadeIn">
                            <h1 class="light"><%= layout.the_title %></h1>
                            <% if (sub_title = layout.the_field("sub_title")).present? %>
                                <br/>
                                <h2><%= sub_title %></h2>
                            <% end %>
                            <div class="title-detail"><%= raw layout.the_content %></div>
                        </div>
                        <% d1 = ["500", "2000", "1000"]; d2 = ["fadeInLeftBig", "fadeIn", "fadeInRightBig"]; index = 0;
                           current_site.the_posts("camaleon_pricing").decorate.each do |price| %>
                            <div class="col-md-4">
                                <div class="table <%= "blue-table" if index == 1 %> animate <%= d2[index] %>" data-delay="<%= d1[index] %>">
                                    <h2><%= price.the_title %></h2>
                                    <div class="price"> <span><%= price.the_field("price") %></span> </div>
                                    <ul>
                                        <% price.the_fields("details").each do |det| %>
                                            <li><%= raw det %></li>
                                        <% end %>
                                    </ul>
                                    <a href="<%= price.the_url %>"><%= price.the_field("btn_label") %></a> </div>
                            </div>
                            <% index += 1; index = 0 if index == 3 %>
                        <% end %>
                    </div>
                </div>
            </section>
        </div>
        <!-- Table End -->
    <% end %>

    <% if layout_key == "clients" %>
        <!-- Sponsors -->
        <div class="section" id="<%= layout_key %>_section" style="<%= layout_bg %>">
            <section class="sponsors <%= "parallax_panel" if layout_bg.present? %>" style="<%= bg_color %>">
                <%= raw '<div class="patteren"></div>' if layout_bg.present? %>
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                                <h1 class="light"><%= layout.the_title %></h1>
                                <% if (sub_title = layout.the_field("sub_title")).present? %>
                                    <br/>
                                    <h2><%= sub_title %></h2>
                                <% end %>
                                <div id="carousel" class="carousel slide" data-ride="carousel">
                                    <% title, body = [], [] %>
                                    <% current_site.the_posts("camaleon_clients").decorate.each_with_index { |client, index|
                                      title << "<li data-target='#carousel' data-slide-to='#{index}' class='#{"active" if index == 0}'> <img class='pro-logo' src='#{client.get_field("logo")}' alt=''></li>"
                                      body << "<div class='item #{"active" if index == 0}'>
                                                    <div>#{client.the_content} <span class='rating'>#{client.the_title}</span></div>
                                                </div>"
                                    } %>
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators spons">
                                        <%= raw title.join("") %>
                                    </ol>
                                    <div class="carousel-inner spon-detail">
                                        <%= raw body.join("") %>
                                    </div>
                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#carousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
                                    <a class="right carousel-control" href="#carousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Sponsors End -->
    <% end %>

    <% if layout_key == "blog" %>
        <!-- News & Events -->
        <div class="section" id="<%= layout_key %>_section" style="<%= layout_bg %>">
            <section class="pressroom <%= "parallax_panel" if layout_bg.present? %>" style="<%= bg_color %>">
                <%= raw '<div class="patteren"></div>' if layout_bg.present? %>
                <div class="container">
                    <div class="">
                        <div class="title animate fadeIn">
                            <h1 class="light"><%= layout.the_title %></h1>
                            <% if (sub_title = layout.the_field("sub_title")).present? %>
                                <br/>
                                <h2><%= sub_title %></h2>
                            <% end %>
                            <div class="title-detail"><%= raw layout.the_content %></div>
                        </div>
                        <div class="space"></div>
                        <%= render partial: "partials/list_items", locals: {posts: current_site.the_posts("post").limit(3), from_home: true} %>
                    </div>
                </div>
            </section>
        </div>
        <!-- End News & Events -->
    <% end %>

    <% if layout_key == "contact" %>
        <!-- contact us -->
        <div class="section" id="<%= layout_key %>_section" style="<%= layout_bg %>">
            <section class="<%= "parallax_panel" if layout_bg.present? %>" style="<%= bg_color %>">
                <div>
                    <%= raw '<div class="patteren"></div>' if layout_bg.present? %>
                    <div class="container">
                        <div class="title animate fadeIn">
                            <h1 class="light"><%= layout.the_title %></h1>
                            <% if (sub_title = layout.the_field("sub_title")).present? %>
                                <br/>
                                <h2><%= sub_title %></h2>
                            <% end %>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <%= raw layout.the_content %>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    <% end %>
<% end %>