<%= form_tag(plugins_ecommerce_order_pay_by_bank_transfer_path(order: @order.slug), :method => "post", :class => "form") do %>

    <div class="row">
      <h3 class="text-center">Details Ticket Bank Transfer (order: <%= @order.slug %>)</h3>
      <div id="user_details" class="col-md-6 col-md-offset-1">



        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Payment Details</h3>
          </div>
          <div class="panel-body">

            <div class="form-group">
              <label for="">Bank name</label>
              <input class="form-control" type="text" name="details[bank_name]" id="">
            </div>
            <div class="form-group">
              <label for="">Owner name of bank account</label>
              <input class="form-control" type="text" name="details[owner_name]" id="">
            </div>
            <div class="form-group">
              <label for="">CODE / ID / KEY / TICKET</label>
              <input class="form-control" type="text" name="details[code]" id="">
            </div>
            <div class="form-group">
              <label for="">Description</label>
              <textarea name="details[description]" rows="4" class="form-control" ></textarea>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <button class="btn btn-success btn-lg btn-block" type="submit">Send Information</button>
              </div>
            </div>
            <div class="row" style="display:none;">
              <div class="col-xs-12">
                <p class="payment-errors"></p>
              </div>
            </div>
          </div>
        </div>





      </div>
      <div class="col-md-4">
        <label for="">Details Bank Transfer</label>
        <div class="well">
            <h4><%= @payment_methods.name %></h4>
          <p><%= @payment_methods.description %></p>
          <ul class="ec-list-orders-address">
            <li><strong>Amount:</strong> <span><%= current_site.current_unit %> <%= @order.meta[:payment][:amount] %></span></li>
            <li><strong>Number Account:</strong> <span> <%= @payment_methods.options[:bank_transfer_number_account] %></span></li>
            <li><strong>Details:</strong> <span> <%= @payment_methods.options[:bank_transfer_detail]  %></span></li>
          </ul>
        </div>
      </div>
    </div>

<% end %>