<div class="row">
  <div class="col-md-4">
        <h4>Order: <%= @order.slug %></h4>
      <h4>Customer Info</h4>
      <ul class="ec-list-orders-address">
        <li><strong>Name:</strong> <span> <%= @order.details.customer %></span></li>
        <li><strong>Email:</strong> <span> <%= @order.details.email %></span></li>
        <li><strong>Phone:</strong> <span> <%= @order.details.phone %></span></li>
      </ul>

      <h4>billing address</h4>
      <% detail = @order.meta[:billing_address] %>
      <ul class="ec-list-orders-address">
        <li><strong>Name:</strong> <span><%= detail[:first_name] %> <%= detail[:last_name] %></span></li>
        <li><strong>Address:</strong> <span><%= detail[:address1] %> <br/> <%= detail[:address2] %> <br/> <%= detail[:city] %> <br/>  <%= detail[:state] %> <br/>  <%= detail[:zip] %> <br/> <%= detail[:country] %></span></li>
      </ul>

      <h4>shipping address</h4>
      <% detail = @order.meta[:shipping_address] %>
      <ul class="ec-list-orders-address">
        <li><strong>Name:</strong> <span><%= detail[:first_name] %> <%= detail[:last_name] %></span></li>
        <li><strong>Address:</strong> <span><%= detail[:address1] %> <br/> <%= detail[:address2] %> <br/> <%= detail[:city] %> <br/>  <%= detail[:state] %> <br/>  <%= detail[:zip] %> <br/> <%= detail[:country] %></span></li>
      </ul>
  </div>
  <div class="col-md-8">
    <h4>Products and Payments</h4>
    <%= render partial: 'ecommerce/views/partials/table_order_products', locals: {order: @order} %>


    <table class="table table-bordered">
      <tbody>
      <tr>
        <th id="">Type Payment</th>
        <th id=""></th>
      </tr>

      <tr>
        <td><%= @order.payment_method.name  rescue 'Not Payment' %></td>
        <td><% if @order.meta[:payment][:amount].to_f > 0 && @order.unpaid? %>
              <a href="<%= plugins_ecommerce_order_select_payment_path(order: @order.slug) %>" class="btn btn-warning">Pay Now</a> or
              <a href="<%= plugins_ecommerce_order_select_payment_path(order: @order.slug, cancel: true) %>" class="btn btn-default btn-sm">Cancel Order</a>
          <% else %>
                <%= raw @order.the_pay_status %>
          <% end  %>
        </td>
      </tr>

      </tbody>
    </table>

    <table class="table table-bordered">
      <tbody>
      <tr>
        <th id="">Order Shipped</th>
        <th id="">Shipped Date</th>
        <th id="">URL Tracking</th>
      </tr>

      <tr>
        <td><%= @order.shipping_method.name rescue 'Not Shipped Assigned' %></td>
        <td>    <%= @order.details.shipped_at || 'Not Shipped' %>    </td>
        <td>    <%= @order.the_url_tracking %>    </td>
      </tr>
       </tbody>
    </table>

    <div class="text-center">


    </div>
  </div>
</div>

<%#= debug @order.meta %>
