<div class="page-title">
  <h2><span class="fa fa-money"></span> <%= @tax_rate.new_record? ? t('plugin.ecommerce.new_tax_rate') : "#{t('plugin.ecommerce.edit_tax_rate')}: #{@tax_rate.name}" %></h2>
</div>

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading ui-draggable-handle">
          <h3 class="panel-title"><%= t('plugin.ecommerce.form_tax_rate') %></h3>
        </div>
        <%= form_for @tax_rate, url:{action: @tax_rate.new_record? ? :create : :update},  html: {class: 'validate-tax_rate', id: 'form-tax_rate'}  do |f| %>
            <div class="panel-body">
              <%= render partial: 'layouts/admin/form_error', locals: {data: @tax_rate} %>
              <div class="form-group">
                <%= f.label t('admin.table.name') %><br>
                <%= f.text_field :name, :class => "form-control required" %>
              </div>
              <% options = params[:options].present? ? params[:options] : @tax_rate.options rescue {} %>
              <div class="form-group">
                <label for=""><%= t('plugin.ecommerce.table.rate') %></label> (%)<br>
                <%= number_field_tag "options[rate]", options[:rate] || '', :class => "form-control required" %>
              </div>




              <div class="form-group">
                <label><%= f.check_box :status %> &nbsp; <%= t('plugin.ecommerce.active')%></label>
              </div>
            </div>
            <div class="panel-footer">
              <a class="btn btn-default" href="<%= url_for action: :index %>" role="back"><%= t('admin.button.back')%></a>
              <button class="btn btn-primary pull-right" type="submit"><%= t('admin.button.submit')%></button>
            </div>
        <% end %>
      </div>


    </div>
  </div>
</div>
