<section class="content" id="admin_content" data-title="<%= raw cama_admin_title_draw %>" data-url="<%= request.original_url if params[:cama_ajax_request] == "redirect" %>">
    <% unless params[:cama_skip_breadcrumb] %>
        <ol class="breadcrumb"><%= render_breadcrumbs :tag => :li, :separator => "" %></ol>
    <% end %>
    <%= render "camaleon_cms/flash_messages" %>
    <%= cama_draw_custom_assets %>
    <%= yield %>
</section>