<%
   @plugin = current_site.plugins.where(slug: "social_login").first
%>
<!-- PAGE TITLE -->
<div class="page-title">
    <h2>
        <span class="fa fa-users"></span>
        <%= t('admin.page_title.edit') +":"+@user.fullname if !@user.new_record? %>
        <%= t('admin.users.create_user') +":" if  @user.new_record? %>
    </h2>
</div>
<!-- END PAGE TITLE -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <%= form_for @user, url:{action: @user.new_record? ? :create : :update}, html:{class: 'validate-user  form-horizontal '} do |f| %>
            <div class="col-md-3 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <%= render partial: 'layouts/admin/form_error', locals: {data: @user} %>

                        <h3><span class="fa fa-user"></span> <%= @user.fullname if !@user.new_record? %></h3>
                        <p><%= @user.new_record? ? "" : @user.meta[:slogan] %></p>
                        <div class="text-center" id="user_image">

                            <img src="<%= @user.new_record? || !@user.meta[:avatar] ? asset_path("admin/img/no_image.jpg") : @user.meta[:avatar] %>" class="img-thumbnail input_upload"/>
                        </div>
                    </div>
                    <div class="panel-body form-group-separated">

                        <div class="form-group">
                            <div class="col-md-12 col-xs-12">
                                <a href="#" class="btn btn-primary btn-block btn-rounded" data-toggle="modal" data-target="#modal_change_photo"><%= t('admin.button.change_photo')%></a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 col-xs-6 control-label">#<%= t('admin.table.id')%></label>
                            <div class="col-md-8 col-xs-6">
                                <%= f.text_field :id, :class => "form-control required", disabled: "disabled" %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 col-xs-6 control-label"><%= t('admin.table.login')%></label>
                            <div class="col-md-8 col-xs-6">
                                <%= f.text_field :username, :class => "form-control required" %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 col-xs-6 control-label"><%= t('admin.table.e_mail')%></label>
                            <div class="col-md-8 col-xs-6">
                                <%= f.email_field :email, :class => "form-control required email"%>
                            </div>
                        </div>
                        <% if @user.new_record? %>
                            <div class="form-group">
                                <label class="col-md-4 col-xs-6 control-label"><%= t('admin.table.password')%></label>
                                <div class="col-md-8 col-xs-6">
                                    <%= f.password_field :password, :class => "form-control required" %>
                                </div>
                            </div>
                        <% end %>

                        <div class="form-group">
                            <%= f.label "#{t('admin.table.role')}", class: "col-md-4 col-xs-6 control-label" %>
                            <div class="col-md-8 col-xs-6">
                                <%= f.select :role,current_site.user_roles.reorder(:name).all.map{|role| [role.name, role.slug]}, {}, {:class => "form-control required"}%>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-xs-12">
                                <button type="submit" class="btn btn-success btn-block" ><%= @user.new_record? ? t('admin.button.create') : t('admin.button.update') %></button>
                            </div>
                        </div>
                        <% if !@user.new_record? %>
                            <div class="form-group">
                                <div class="col-md-12 col-xs-12">
                                    <a href="#" class="btn btn-danger btn-block btn-rounded" data-toggle="modal" data-target="#modal_change_password"><%= t('admin.button.change_password') %></a>
                                </div>
                            </div>
                        <% end %>

                    </div>

                </div>
            </div>
            <div class="col-md-6 col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3><span class="fa fa-pencil"></span> <%= t('admin.users.profile') %></h3>
                    </div>
                    <div class="panel-body form-group-separated">
                        <%
                           data_meta = @user.meta
                           User::meta_default[:fields].each do |field, values| %>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">
                                    <%= t("admin.table.#{values[:label].gsub(' ','').tableize}")%>
                                </label>
                                <div class="col-md-9 col-xs-7">
                                    <input type="text" name="<%=  "meta[#{field}]" %>" value="<%= data_meta[field] %>" class="form-control"/>
                                </div>
                            </div>
                        <% end %>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-5 control-label"><%= t('admin.table.slogan') %></label>
                            <div class="col-md-9 col-xs-7">
                                <textarea name="meta[slogan]" class="form-control"><%= @user.meta[:slogan] %></textarea>
                            </div>
                        </div>
                        <%= render partial: "admin/settings/custom_fields/render", locals: {record: @user, field_groups: @user.get_user_field_groups(current_site) } %>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-default" role="back" href="<%= url_for action: :index %>"><%= t('admin.button.back')%></a>
                        <button class="btn btn-success pull-right"><%= @user.new_record? ? t('admin.button.create') : t('admin.button.update') %></button>
                    </div>
                </div>
            </div>
        <% end %>
        <div class="col-md-3">
            <div class="panel panel-default form-horizontal">
                <div class="panel-body">
                    <h3><span class="fa fa-info-circle"></span> <%= t('admin.table.quick_info')%></h3>
                    <p><%= t('admin.message.quick_info')%></p>
                </div>
                <div class="panel-body form-group-separated">
                    <div class="form-group">
                        <label class="col-md-4 col-xs-5 control-label"><%= t('admin.table.last_visit')%></label>
                        <div class="col-md-8 col-xs-7 line-height-30"><%= @user.last_login_at %></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-xs-5 control-label"><%= t('admin.table.registration')%></label>
                        <div class="col-md-8 col-xs-7 line-height-30"><%= @user.created_at %></div>
                    </div>

                </div>

            </div>
        </div>

    </div>


</div>
<!-- END PAGE CONTENT WRAPPER -->


<!-- MODALS -->
<div class="modal animated fadeIn" id="modal_change_photo" tabindex="-1" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><%= t('admin.button.close') %></span></button>
                <h4 class="modal-title" id="smallModalHead"><%= t('admin.button.change_photo') %></h4>
            </div>
            <form id="cp_crop" method="post" action="<%= admin_crop_path({saved_avatar: @user.id}) %>">
                <div class="modal-body">
                    <div class="text-center" id="cp_target"><%= t('admin.message.change_photo') %></div>
                    <input type="hidden" name="cp_img_path" id="cp_img_path"/>
                    <input type="hidden" name="ic_x" id="ic_x"/>
                    <input type="hidden" name="ic_y" id="ic_y"/>
                    <input type="hidden" name="ic_w" id="ic_w"/>
                    <input type="hidden" name="ic_h" id="ic_h"/>
                    <input type="hidden" name="ic_resize" id="ic_resize"/>
                </div>
            </form>
            <div class="modal-body form-horizontal form-group-separated">
                <div class="form-group">
                    <label class="col-md-4 control-label"><%= t('admin.users.new_photo') %></label>
                    <div class="col-md-4">
                        <a id="cp_photo" class="btn btn-info" href="#"><%= t('admin.button.select_file') %></a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success disabled" id="cp_accept"><%= t('admin.button.accept') %></button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('admin.button.close') %></button>
            </div>
        </div>
    </div>
</div>

<div class="modal animated fadeIn" id="modal_change_password" tabindex="-1" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><%= t('admin.button.close') %></span></button>
                <h4 class="modal-title" id="smallModalHead"><%= t('admin.button.change_password') %></h4>
            </div>
            <div class="modal-body">
                <p><%= t('admin.message.change_password') %></p>
            </div>
            <%= form_for @user, url: @user.new_record? ? admin_users_path : admin_user_updated_ajax_path(@user), html:{class: 'validate-password form-ajax-password'} do |f| %>
                <div class="modal-body form-horizontal form-group-separated">
                    <div class="form-group">
                        <label class="col-md-3 control-label"><%= t('admin.table.old_password') %></label>
                        <div class="col-md-9">
                            <input type="password" class="form-control required" name="password[password_old]"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><%= t('admin.table.new_password') %></label>
                        <div class="col-md-9">
                            <input id="pass_new" type="password" class="form-control required" name="password[password]"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><%= t('admin.table.repeat_new') %></label>
                        <div class="col-md-9">
                            <input type="password" class="form-control required" name="password[password_confirmation]" equalTo="#pass_new"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger"><%= t('admin.button.proccess') %></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('admin.button.close') %></button>
                </div>
            <% end %>
        </div>
    </div>
</div>
<!-- EOF MODALS -->


<% add_asset_library('form_ajax', 'cropper') %>

<script>
    run.push(function(){

        $('.form-ajax-profile').ajaxForm({success: function(res){
            if(res.errors){
                $.fn.alert({type: 'error', title: lang.msg_form_error, content: res.errors, icon: 'times', close: lang.close});
            }else{
                $.fn.alert({ title: lang.message_updated_success, close: lang.close});
            }
        }})
        $('.form-ajax-password').ajaxForm({success: function(res){
            if(res.errors){
                $.fn.alert({type: 'error', title: lang.msg_form_error, content: res.errors, icon: 'times', close: lang.close});
            }else{
                $.fn.alert({ title: lang.message_updated_success, close: lang.close});
                $("#modal_change_password").modal('hide')
            }
        }})


        function onSuccess(){
            $("#cp_photo").parent("a").find("span").html("Choose another photo");

            var img = $("#cp_target").find("#crop_image")

            if(img.length === 1){
                $("#cp_img_path").val(img.attr("src"));

                img.cropper({aspectRatio: 1,
                    done: function(data) {
                        $("#ic_x").val(data.x);
                        $("#ic_y").val(data.y);
                        $("#ic_h").val(data.height);
                        $("#ic_w").val(data.width);
                    }
                });

                $("#cp_accept").prop("disabled",false).removeClass("disabled");
                $("#cp_crop").css({"width":"400px","margin":"0px auto"});
                $("#cp_crop").find('.modal-body').css({"max-height":"400px","overflow":"auto"});
                $("#cp_accept").on("click",function(){
                    $("#user_image").html('<img src="/assets/loader.gif"/>');
                    $("#modal_change_photo").modal("hide");

                    $("#cp_crop").ajaxForm({success: function(res){
                        $("#user_image").html('<img class="img-thumbnail" src="'+res+'?r='+Math.random()+'"/>');
                        $.fn.alert({ title: lang.msg_avatar_updated, close: lang.close});
                    }}).submit();
                    $("#cp_target").html("Use form below to upload file. Only image files.");
                    $("#cp_photo").val("").parent("a").find("span").html("Select file");
                    $("#cp_accept").prop("disabled",true).addClass("disabled");
                    $("#cp_img_path").val("");
                });
            }
        }

        $("#cp_photo").on("click",function(){
            $.fn.upload_elfinder({
                selected: function(res){
                    var image = _.first(res);
                    if(image.mime && image.mime.indexOf('image') > -1){
                        $("#cp_target").html("<img id='crop_image' src='"+image.url+"' >");
                        onSuccess()
                    }else{
                        alert("File extension not allowed")
                    }
                }
            });
        });

    });
</script>
