<div class="page-title">
  <h2><span class="fa fa-tag"></span> <%= @coupon.new_record? ? "#{t('plugin.ecommerce.new_coupon')}" : "#{t('plugin.ecommerce.edit_coupon')}: #{@coupon.name}" %></h2>
</div>

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading ui-draggable-handle">
          <h3 class="panel-title"><%= t('plugin.ecommerce.form_coupon') %></h3>
        </div>
        <%= form_for @coupon, url:{action: @coupon.new_record? ? :create : :update},  html: {class: 'validate-coupon', id: 'form-coupon'}  do |f| %>
            <div class="panel-body">
              <%= render partial: 'layouts/admin/form_error', locals: {data: @coupon} %>
              <div class="form-group">
                <%= f.label t('plugin.ecommerce.table.name') %><br>
                <%= f.text_field :name, :class => "form-control required" %>
              </div>
              <div class="form-group">
                <label for=""><%= t('plugin.ecommerce.table.code') %></label><br>
                <%= f.text_field :slug, :class => "form-control required" %>
              </div>
              <% options = params[:options].present? ? params[:options] : @coupon.options rescue {} %>
              <div class="form-group">
                <label for=""><%= t('plugin.ecommerce.table.amount') %></label><br>
                <%= number_field_tag "options[amount]", options[:amount] || '', :class => "form-control required" %>
              </div>

              <div class="form-group">
                <label for=""><%= t('plugin.ecommerce.table.discount_type') %></label><br>
                <%= select_tag "options[discount_type]", options_for_select([[t('plugin.ecommerce.table.percent'),"percent"],[t('plugin.ecommerce.table.money'),"money"],[t('plugin.ecommerce.table.free_shipping'),"free_ship"]], options[:discount_type] || ''), :class => "form-control required" %>
              </div>

              <div class="form-group">
                <label for=""><%= t('plugin.ecommerce.table.min_cart_total') %></label><br>
                <%= text_field_tag "options[min_cart_total]",options[:min_cart_total] || '', :class => "form-control required" %>
              </div>

              <div class="form-group">
                <label for=""><%= t('plugin.ecommerce.table.expiration_date') %></label><br>
                <%= text_field_tag "options[expirate_date]",options[:expirate_date] || '', :class => "form-control required" %>
              </div>

              <div class="form-group">
                <label for=""><%= t('plugin.ecommerce.table.allowed_applications') %></label><br>
                <%= number_field_tag "options[allowed_applications]", options[:allowed_applications] || '1', :class => "form-control required" %>
              </div>


              <div class="form-group">
                <label><%= f.check_box :status %> &nbsp; <%= t('plugin.ecommerce.active') %></label>
              </div>
            </div>
            <div class="panel-footer">
              <a class="btn btn-default" href="<%= url_for action: :index %>" role="back"><%= t('admin.button.back')%></a>
              <button class="btn btn-primary pull-right" type="submit"><%= t('admin.button.submit')%></button>
            </div>
        <% end %>
      </div>


    </div>
  </div>
</div>

<% add_asset_library('datepicker')  %>