<article id="tag-view" class="tag_<%= @post_tag.slug %>">
    <%= render partial: 'partials/breadcrumb', locals: {breadcrumb: @post_tag.the_breadcrumb } %>
    <h1><%= @post_tag.the_title %></h1>
    <div class="content">
        <%= raw @post_tag.the_content %>
    </div><br><br>

    <div class="row">
        <% _tpl = lookup_context.template_exists?("post_types/#{@post_type.the_slug}/post_list_item", nil, true) ? "post_types/#{@post_type.the_slug}/post_list_item" : 'partials/post_list_item' %>
        <% @posts.each_with_index do |post, index| %>
            <%#= raw "<div class='clearfix'></div>" if index%3 == 0 && index > 0 %>
            <%= render partial: _tpl, locals: {post: post.decorate, index: index} %>
        <% end %>
    </div>
    <%= content_tag("div", raw(ct('no_contents_found', default: 'No contents found')), class: "alert alert-warning") if @posts.empty? %>
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails if @posts.present? %>

</article>