<% comments.decorate.each do |comment| user = comment.comment_user.decorate %>
    <div class="comment-sec <%= "comment-sec2" if children.present? %>">
        <%= image_tag user.the_avatar, class: "author"%>
        <div class="comment-detail">
            <span class="author-name"><%= user.the_name %></span><a class="date" href=""><%= comment.the_created_at %></a>
            <div class="clear"></div>
            <p><%= raw comment.the_content %></p>
        </div>
        <div class="clear"></div>
    </div>
    <%= render partial: "partials/comments_list", locals: { comments: comment.children.approveds, children: "present" }  if comment.children.present? %>
<% end %>