<section class="comment-list">
    <% if post.the_comments.count > 0 %>
        <div class="comments">
            <h3><%= @post.the_comments.count %> <%= ct("comments") %></h3>
            <%= render partial: "partials/comments_list", locals: { comments: post.the_comments, children: "" } %>
        </div>
    <% end %>
    <% if post.can_commented? %>
        <div class="clear"></div><div class="height20"></div><hr>

        <div class="leave-comment">
            <h3><%= ct("leave_comment") %></h3>
            <div class="comment-form">
                <% if signin? %>
                    <div class="col-md-12"><%= render partial: "flash_messages" %></div>
                    <%= form_for post, url:{action: :save_comment, post_id: post.id}, html: {method: "post", class: "form-comment"} do |f|%>
                        <input type="hidden" name="post_comment[post_id]" value="<%= post.id %>">
                        <input type="hidden" name="slug" value="<%= post.slug %>">
                        <textarea name="post_comment[content]" onblur="if(this.value == '') { this.value='<%= ct("message") %>'}" onfocus="if (this.value == '<%= ct("message") %>') {this.value=''}"><%= ct("message") %></textarea>
                        <input name="" type="submit" value="<%= ct('comment')%>">
                    <% end %>
                <% else %>
                    <div class="panel-login-comment"><%= ct('comment_msg')%>  <a class="link-login-comment" href="<%= admin_path %>"><%= ct('login')%></a></div>
                <% end %>
            </div>
        </div>
    <% end %>
</section>