
<div class="row">
    <div class="col-md-12">
        <% flag = false %>
        <% posts.decorate.each_with_index do |post, index| %>
            <div class="com-sec">
                <% if index%2 == 0 %>
                    <div class="press-img image"><a href="<%= post.the_url %>"><img class="<%= "animate" if defined?(from_home) %> fadeIn" src="<%= post.the_thumb_url(theme_asset_path("images/press-img1.jpg")) %>"  alt=""></a></div>
                    <div class="divider"><img src="<%= theme_asset_path("images/timeline-divider.png") %>"  alt=""></div>
                    <div class="right-text <%= "animate" if defined?(from_home) %> fadeIn"> <span class="title"><a href="<%= post.the_url %>"><%= post.the_title %></a></span>
                        <div class="clear"></div>
                        <span> <%= post.the_created_at %></span>
                        <p><%= post.the_excerpt %></p>
                        <a href="<%= post.the_url %>"><%= ct("read_more") %></a>
                    </div>
                <% else %>
                    <div class="left-text <%= "animate" if defined?(from_home) %> fadeIn"> <span class="title"><a href="<%= post.the_url %>"><%= post.the_title %></a></span>
                        <div class="clear"></div>
                        <span> <%= post.the_created_at %></span>
                        <p><%= post.the_excerpt %></p>
                        <a href="<%= post.the_url %>"><%= ct("read_more") %></a>
                    </div>
                    <div class="divider"><img  src="<%= theme_asset_path("images/timeline-divider.png") %>"  alt=""></div>
                    <div class="press-img image"><a href="<%= post.the_url %>"><img class="<%= "animate" if defined?(from_home) %> fadeIn" src="<%= post.the_thumb_url(theme_asset_path("images/press-img1.jpg")) %>"  alt=""></a></div>
                <% end %>
            </div>
            <div class="clear"></div>
            <% flag = true %>
        <% end %>
        <% unless defined?(from_home) %>
            <%= content_tag("div", raw(ct('no_contents_found')), class: "alert alert-warning") unless flag %>
            <%= will_paginate posts, renderer: BootstrapPagination::Rails if flag %>
        <% end %>
    </div>
</div>