<%
   id = "camaleon-car-#{Time.now.to_i}"
   images = attributes["images"].split(",")
%>
    <div id="<%= id %>" data-interval="false" class="carousel slide" data-ride="carousel" style="<%= attributes["style"] %>">
    <div class="carousel-inner" role="listbox" style="width: 100%;">
        <% images.each_with_index do |item, index| %>
            <div class="item <%= "active" if index == 0 %>">
                <img src="<%= item %>" alt="">
            </div>
        <% end %>
    </div>
    <a style="top: 42%;" class="left carousel-control" href="#<%= id %>" role="button" data-slide="prev"></a>
    <a style="top: 42%;" class="right carousel-control" href="#<%= id %>" role="button" data-slide="next"></a>
</div>