<div class="manage-menus panel panel-primary">
    <div class="panel-body">
        <form action="<%= admin_appearances_nav_menus_menu_path %>" method="get" class="">
            <div class="form-group">
                <label class="selected-menu" for="menu"><%= t('camaleon_cms.admin.menus.select_edit') %></label>
            </div>
            <div class="input-group input-group-sm">
                <select id="menu" class="select form-control" name="id">
                    <option value=""><%= t('camaleon_cms.admin.menus.select') %></option>
                    <% @nav_menus.each do |menu| %>
                        <option value="<%= menu.id %>" <%= 'selected' if !@nav_menu.new_record? && @nav_menu.id == menu.id %> ><%= menu.name %></option>
                    <% end %>
                </select>
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-flat" type="submit"><%= t('camaleon_cms.admin.menus.select') %></button>
                        <a class="btn btn-default" href="<%= admin_appearances_nav_menus_menu_path({new: 1}) %>"> <%= t('camaleon_cms.admin.menus.create_new') %></a>
                    </span>
            </div>
        </form>
    </div>

</div>